[2014-10-10 06:47] andrie opened #1 "Revo.version not set correctly; Causes bug in Revobase::readme() and Revobase::RevoLicense()"
In RRO:

[code]

In RRE this is a list:

[code]

The problem is that `Revobase::readme` expects `Revo.version` to have components `major` and `minor`

[2014-10-10 06:54] andrie opened #2 "Revobase::revoNews() expects RevoMods to be loaded"
[code]

Should we install and load `RevoMods` as well?

[2014-10-10 13:51] revodavid opened #3 "Fix forum function"
Throws an error on Mac
On all platforms, should open a browser window to https://groups.google.com/d/forum/rropen

[2014-10-10 15:17] revodavid opened #4 "Update Readme.md"

[2014-10-14 08:19] andrie opened #5 "checkpoint package doesn't load correctly with install"
After install of RRO, I get:

[code]

Manual installation then also fails:

[code]

[2014-10-14 13:20] revodavid opened #6 "Placeholder to capture known issues"
Currently just has a placeholder for known issues.

[2014-10-14 22:57] andrie opened #7 "Incorrect company name in RRO startup message"
The RRO startup message says:

[code]

Notice `Revolution R Analytics`.  It should be `Revolution Analytics`

This fix should be applied to the file `../etc/rprofile.site`

[2014-10-15 17:53] cmosetick opened #8 "error loading checkpoint package on Win7 64 bit"
The out of the box experience should include the `checkpoint` package. Instead, when attempting to load the library, I get this:

[code]

This was using the 64 bit RRO 8.0 beta

[2014-10-15 18:03] #4 closed, assigned to nobody

[2014-10-15 18:40] #8 closed, assigned to nriesland

[2014-10-16 09:01] #7 closed, assigned to nriesland

[2014-10-16 10:05] cmosetick opened #9 "Installation of RRO on CentOS 6 does not create / update symbolic links correctly"
I've been testing RRO on CentOS 6 based on this report:
https://groups.google.com/forum/?hl=en#!topic/rropen/s7tVO44jJsk

While testing in a CentOS 6.5 `docker` container with CRAN R 3.1.1 already installed on the system, I get the output found below. Worth highlighting, are the lines:
[code]

Here is most of the relevant output of running the install command as noted in the CentOS install documen

[2014-10-16 22:10] cmosetick opened #10 "package name in RPM database is listed wrong"
When querying the RPM package database with
`rpm -qa | grep -i RRO`
I would expect to see something like:
`RRO-8.0-beta.el6.x86-64`

Instead I get the R version RRO is based on:
`RRO-3.1.1-1.el6.x86_64`

I'm not sure if that was a calculated decision or not, but I thought I would put something here to open a discussion.

[2014-10-17 16:23] revodavid opened #11 "Can't install ggplot2 in OpenSUSE build"
Report from a user at http://blog.revolutionanalytics.com/2014/10/introducing-revolution-r-open-and-revolution-r-plus.html?cid=6a010534b1db25970b01b8d07edede970c#comment-6a010534b1db25970b01b8d07edede970c

I'm OpenSUSE 13.1 user. Can't get "ggplot2" installed because installation of "highlight" package throws an error:

/usr/lib64/gcc/x86_64-suse-linux/4.8/../../.

./../lib64/crt1.o: In function `

[2014-10-20 17:47] revodavid opened #12 "Make RRO available as a package in the Ubuntu repository"
The old Revolution R Community is there: http://packages.ubuntu.com/lucid/gnu-r/revolution-r

[2014-10-20 18:30] cmosetick opened #13 "custom user-agent string for RRO"
It would be nice if we could have a custom user-agent string for RRO. Right now, RRO uses the same string that CRAN R uses. When parsing log files, this makes it difficult to tell if a user is using RRO, or CRAN R. For now, if a user is pointed at a snapshot date of 2014-10-1, then it's a safe assumption that they are running RRO. As time moves on, it will be more difficult to determine if they ar

[2014-10-21 19:40] revodavid opened #14 "Remove 32-bit files from Windows installer"
Only supporting 64-bit platforms, so can we remove the "32-bit files" from the Installer?

![image001](https://cloud.githubusercontent.com/assets/152948/4725485/05bab03c-595a-11e4-902d-fd6841cc2475.png)

[2014-10-22 06:08] renkun-ken opened #15 "Cannot update packages in RStudio"
When I installed RRO and click Update packages in RStudio, an error message box says _R code execution error_ and the console says

[code]

However, `update.packages()` works fine. I'm not sure if this is an issue for RStudio or for RRO?

Here's my session info:

[code]

My operating system is latest Windows 8.1 x64 and RStudio 0.98.1080.

[2014-10-22 13:45] revodavid opened #16 "Make package transfer easier with upgrades"
It would be nice if installing RRO when R is already installed to detect packages already installed for R and make sure they are available to the RRO user.

On a similar note, when upgrading to a new version of RRO, make it so that already-installed packages continue to work.

[2014-10-22 13:46] revodavid opened #17 "Auto-detect when a new version of RRO is available (3.2.2.2)"
Alert the user on starting RRO if a new version is available, and help them download and install it.

[2014-10-24 13:50] revodavid opened #18 "Make use of Intel Xeon Phi Coprocessors"
Suggestion from a user:

I wonder whether Revolution R Open "out of the box" would make use of Intel Xeon Phi Coprocessors. The following article discusses how to build and run R together with the Phi Coprocessors. This includes among all the pre-requisite that the Intel Parallel Studio Xe is installed.

https://software.intel.com/en-us/articles/running-r-with-support-for-intel-xeon-phi-coprocesso

[2014-10-24 13:56] #15 closed, assigned to nobody

[2014-10-24 16:35] j-martens opened #19 "Instructions needed for updating repositories and installing make, gcc, and gfortran"
Instructions needed for updating repositories and installing make, gcc, and gfortran. Should mirror step 3 & 4 here: http://deployr.revolutionanalytics.com/documents/admin/install/#preparing

[2014-10-24 18:38] cmosetick opened #20 "remove R source tarball from git repo"
Large binary files should not be stored in git repositories. Currently the RRO repo takes over a minute and a half for me to clone because the R-3.1.1 source tarball is in the repo.

[code]

The source tarball is ~27MB.

Best practices typically state that these files should be linked to and or retrieved by the build system, or the user.
e.g. In the `README` file state the location or optionally h

[2014-10-24 18:43] cmosetick opened #21 "need to tag the RRO 8.0 beta release in git repo"
For projects that are versioned, the proper workflow is to tag each release of software in a git repo. A zip or tarball archive of the source as it existed at the time of release can be downloaded from Github.com when this is done.
It also allows us to see how things have changed over time, by selecting a tag in the Github.com web GUI.

[2014-10-28 16:44] revodavid opened #22 "Update license information in Revobase DESCRIPTION file"
The License field currently reads:

[code]

It should be the GPL-2 license.

[2014-10-28 17:19] #11 closed, assigned to nobody

[2014-10-29 14:12] andrie opened #23 "Create certified signed application for Mac"
Description: Add signed certificate to build
Advantage: User can install without having to self-sign

[2014-10-29 14:13] andrie opened #24 "Create certified signed application for Windows"
Description: Add signed certificate to build
Advantage: User can install without having to run installer as Administrator

[2014-10-29 14:18] andrie opened #25 "Include virus checking as part of build and distribution"
Description: Virus-check distributions before making available for downloads
Advantage: No viruses in software we deliver

[2014-10-29 14:35] andrie opened #26 "Create version archive of previous releases of RRO"
Description: Archive of prior RRO versions
Advantage: Continued availability of older RRO versions
Benefit: Confidence in always being able to run code
Details: Provide a section on MRAN where visitors can find older RRO binary and source distributions.
The Download wizard should always offer the latest version, but provide a link to find older versions.

[2014-10-30 16:02] #19 closed, assigned to j-martens

[2014-10-30 16:16] #21 closed, assigned to nriesland

[2014-10-31 16:12] revodavid opened #27 "Mac build not linking against MKL?"
A user has reported that the Mac build is linking against Apple’s Accelerate framework, not against MKL.

[2014-11-03 22:45] j-martens opened #28 "Create links to NEWS page on MRAN"
1. We need a mechanism or function that allows people to easily access/open the RRO change log/NEWS file.
2. We need a page that details the changes to RRO and provides a link to the CRAN R news page: http://cran.r-project.org/src/base/NEWS.html.

[2014-11-10 19:39] revodavid opened #29 "Twitter user reports a problem installing on Linux"
https://twitter.com/statsforbios/status/531876130736058368

Output here:
https://gist.github.com/timcdlucas/1a8ba03784e7ea2f5541

[2014-11-10 19:49] #29 closed, assigned to nobody

[2014-11-11 17:54] revodavid opened #30 "Installing R 3.1.2 doesn't overwrite RRO 8.0-beta"
I installed R 3.1.2 from CRAN with RRO 8.0-beta already installed. The results were surprising (note the 3.1.2 engine but with the RRO message at the end).

[code]

To successfully install R 3.1.2 I had to follow the RRO uninstall instructions http://mran.revolutionanalytics.com/documents/rro/installation/#revorinst-uninstall and *then* install R 3.1.2. But I imagine many people will try and do th

[2014-11-12 10:48] andrie opened #31 "g++ package needed on Ubuntu installer"
A user reports at [RRO google groups](https://groups.google.com/forum/#!topic/rropen/GeCyC-wfWA4) that `devtools::install_github does not work on Ubuntu`

I am unable to replicate, but there is some indications that this might be related to locale (see https://github.com/twitter/BreakoutDetection/issues/6)

User report:

[code]

[2014-11-13 20:24] revodavid opened #32 "Packages are always installed from source (possibly Mac only)"
On Mac, RRO 8.0 beta always installs packages from source. Using CRAN R (3.1.2) packages install as binary.

Eliminated conjecture: this is a result of the differing R engines (3.1.1 versus 3.1.2). Using RRO 8.0 beta (built on R 3.1.1) with recent CRAN snapshots forces R to build from source. BUT using RRO 8.0.1 beta (with 3.1.2 engine) shows same results.

Running R 3.1.2 (downloaded from CRAN):

[2014-11-14 15:06] revodavid opened #33 "Disable automatic loading and saving of workspace"
In the interests of reproducibility, make RRO neither load nor save the workspace by default.

In standard R, this is achieved with

[code]

In RRO, for the user to re-enable this functionality, they would need to launch RRO as follows

[code]

[2014-11-14 22:03] revodavid opened #34 "Ensure builds from source uses correct version of fortran compiler"
Attempting to build a Fortran-dependent package from source attempts to use gfortran-4.8. However, http://cran.r-project.org/bin/macosx/tools/ provides gfortan-4.2.

Using Nov 14 build:

[code]

Note attempt to run `gfortran-4.8`.

[2014-11-14 22:08] revodavid opened #35 "Update version displayed on startup"
The latest Mac build (Nov 14) shows the wrong version number on startup:

[code]

Should be:

[code]

[2014-11-17 14:59] revodavid opened #36 "LAPACK error with "survey" package on CentOS 6.5"
A user reports the following code generates an error on CentOS 6.5.
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/rropen/JP3SDgNNVp0/7B8EHqt_rX0J

(You will need to `install.packages("survey")` first.)

[code]

The error is:

[code]

[2014-11-17 17:31] revodavid opened #37 "install_github fails is a release note for every release"
Several users report that install_github is failing on Ubuntu 14.04:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/rropen/GeCyC-wfWA4/r9lvM2s8uRMJ

[code]

As a workaround, install_git appears to work:

[code]

[2014-11-19 14:12] #31 closed, assigned to nriesland

[2014-11-19 14:55] andrie opened #38 "Include RevoMods in release"
This fixes a number of issues, especially with functions in RevoBase not working.

Related to:

#1
#2
#3

[2014-11-19 15:22] revodavid opened #39 "Create a Docker container including RRO"
[No actions yet -- just ideas for now]

Create a Docker container that includes RRO, build tools, RStudio and whatever else is needed for a comprehensive RRO experience.

[2014-11-19 15:35] revodavid opened #40 "Add an RRO NEWS file to the build"
Add a text file to the top level of the source and binary installs that documents the recent changes in RRO that come with each version.

[2014-11-19 16:02] revodavid opened #41 "Installation and Uninstallation procedures on Mac"
Make it easy to install RRO alongside an existing R installation, without clobbering the CRAN R binary and installed packages.

Check for any running R or RRO instances during install and invite the user to close them first.

Install /usr/bin/R to point to the RRO binary, but make it possible to preserve the old R script (for example, by renaming /usr/bin/R to /usr/bin/R-CRAN).

Make it easy to un

[2014-11-19 16:42] revodavid opened #42 "library(Revobase) fails on Mac"
In Build #7 (Nov 18, 2014 9:25:21 PM) for Mac, library(Revobase) fails as follows:

[code]

[2014-11-19 17:39] revodavid opened #43 "Update CRAN repository to new snapshot for 8.0.1"
Date TBD

[2014-11-19 20:32] cmosetick opened #44 "install instructions refer to wrong gfortran"
CentOS [RRO installation instructions](http://mran.revolutionanalytics.com/documents/rro/installation/#revorinst-lin) suggest to install:
`make gcc gfortran`

However, from what I can determine `gfortran` is not a package or virtual package on CentOS.
`gcc-gfortran` is the correct name of the package to use on CentOS 5,6,7.

Install instructions should read something like this:
`yum install make g

[2014-11-21 18:16] revodavid opened #45 "Installing R on top of RRO results in a hybrid (OS X/Win)"
A user had an installation that identified itself as RRO 8.0beta, but with a newer R engine (3.1.2). Possibly caused by installing R on top of RRO.

Resulted in a hybrid system where packages could not be installed.

See https://groups.google.com/d/msgid/rropen/7777af2a-977a-4252-b18f-23e30d408e8e%40googlegroups.com

[2014-11-21 22:52] ghost opened #46 "Windows installer still laying down 32-bit files"

[2014-11-21 22:54] ghost opened #47 "checkpoint being installed on Windows from "http://cran.mtu.edu"'"

[2014-11-22 08:29] andrie opened #48 "Test RRO with "--interactive" and "--no-readline" for SublimeText integration OS X"
According to Google Groups, this might be the solution to SublimeText integration

https://groups.google.com/forum/#!topic/rropen/IZjCaJJ_HLA

[2014-11-22 16:05] andrie opened #49 "Add startup message that indicates current MRAN snapshot"
Original suggestion by David Russell:

simple function notify users when an implicit snapshot date is in use
(for example, a simple log statement in the R console: Using MRAN
snapshot: 2014-10-1). It might help demystify some of the magic by
making package dependencies explicit / discoverable on the otherwise
implicit `setSnapshot()` function call.

[2014-11-22 16:28] andrie opened #50 "Move startup config from `.Rprofile` to `etc/Rprofile.site`"
This is likely a safer startup sequence, and also more consistent with RRE.

Some information is available at `?Startup`

[2014-11-24 17:48] #46 closed, assigned to nriesland

[2014-11-26 21:15] #47 closed, assigned to nriesland

[2014-11-26 21:16] #14 closed, assigned to nriesland

[2014-11-26 21:17] #40 closed, assigned to nriesland

[2014-12-01 16:54] #50 closed, assigned to nobody

[2014-12-02 21:24] sfweller opened #52 "Errant warning in Ubuntu 12 Installer (gfortran-4.8)"
When running the installer on Ubuntu, I got the following warning, that seems to be a non-issue in successfully completing the install:

Unable to locate package 'gfortran-4.8'
Couldn't find any package by regex 'gfortran-4.8' - looks like the installer proceeded to install the correct version of fortran library, so this warning is actually a red herring....

Steve Weller

[2014-12-02 21:42] cmosetick opened #53 "CentOS intall process should have install.sh wrapper script"
Ubuntu installers have a `install.sh` wrapper script. CentOS should have the same to simplify the install instructions across all platforms.

e.g.
[code]

[2014-12-02 23:00] sfweller opened #54 "Doc Note: RRO Installer doesn't work if booting OS from a Live-CD"
Just a doc note for RRO users: I did some initial testing of the 8.0 installer on Ubuntu 12.04 after booting the OS from a Live-CD.  The installation script, 'install.sh' proceeded to run like everything was fine after I typed `sudo ./install.sh`
It finished, yet RRO was not unexpectedly non-functional after the script finished.

Everything works, if you install the Ubuntu OS to an actual file sys

[2014-12-03 16:59] #26 closed, assigned to andrie

[2014-12-03 18:35] j-martens opened #55 "Revolution R Open.app info shows R version as 3.1.1"
See attached screenshot.
![screen shot 2014-12-03 at 12 21 57 pm](https://cloud.githubusercontent.com/assets/8481597/5286400/a74ab978-7ae9-11e4-9421-ec96302b0a95.png)

[2014-12-03 22:23] #43 closed, assigned to sfweller

[2014-12-03 22:40] sfweller opened #56 "The R functions testInstalledBasic() and testInstalledPackages() do not work on Mac OS-X"
These basic R functions for testing the functionality of the base R package and other installed packages fail on Mac OS-X, because the default RRO R_HOME is set differently than the default R_HOME on a CRAN-R install on the Mac - the default RRO Rhome is the following:

Here is the failure:

But in this folder their is no 'tests' folder. CRAN-R makes this part of the install itself, and if you loo

[2014-12-04 15:53] revodavid opened #57 "Info for Revolution R Open.app suggests wrong R version"
Install RRO 8.0.1 and "Get Info" on Revolution R Open.app. Check the Version field.

![image](https://cloud.githubusercontent.com/assets/152948/5301083/4f915aea-7b9b-11e4-98b7-c278540fbc55.png)

[2014-12-04 16:28] cmosetick opened #58 "Mac MKL error with mkl_blas_avx2_xdsyrk"
[code]

[code]

@sdgilley and I both get this error

[2014-12-04 16:49] andrie opened #59 "Include build number in Revo.version string"
Having build numbers enable users to report the R as well as build version when reporting issues.

[2014-12-04 19:07] revodavid opened #60 "README.txt file poorly formatted, incomplete"
The README.txt file (at least in the Mac distro) is difficult to read from the command line, and the Known Issues section is incomplete.

![image](https://cloud.githubusercontent.com/assets/152948/5304236/7100ab98-7bb6-11e4-92ec-c027548b492e.png)

Format the text to 80 columns for readability, and complete the Known Issues section.

[2014-12-04 19:15] revodavid opened #61 "README-legal.txt poorly formatted"
README-legal.txt is poorly formatted for reading from the command line, at least on Mac.

![image](https://cloud.githubusercontent.com/assets/152948/5304306/2e2356ee-7bb7-11e4-8251-3c990c585847.png)

Fix the double-spacing issues and wrap text to 80 columns.

[2014-12-05 15:09] revodavid opened #62 "Reposition logo in Mac installer"
Half of the RRO logo in the Mac installer is cut off due to its size and positioning:

![image](https://cloud.githubusercontent.com/assets/152948/5317667/69a79444-7c5e-11e4-93c3-31fc7e467da0.png)

Reformat the logo so that it fits in the lower-left corner under the installation steps.

[2014-12-05 15:17] revodavid opened #63 "After install on Mac, REvolutionR (not Revolution R Open) appears in Launchpad, crashes Mac"
Expected: After install, the "Revolution R Open" application appears in the Launchpad

Actual: Does not appear there.

Workaround: Must launch Revolution R Open from the Applications folder.

[2014-12-05 16:53] j-martens opened #64 "Installer setup issues on Mac"

[2014-12-05 16:54] revodavid opened #65 "Update license description in installer"
Update the screen in the installer where license information is provided with the text provided below.

[2014-12-05 16:55] #57 closed, assigned to nobody

[2014-12-05 17:11] swells opened #66 "Create wiki page for known issues (and other release notes)"
Once the master branch has been tagged with the appropriate release points, we can begin to prepare that tag for a release. Marking the tagged historical version as a release is done from Github using their Releases workflow. From there we can create the release notes with the appropriate information.

[2014-12-05 17:19] andrie opened #67 "Add Revobase to default startup packages"
Make Revobase available by default by adding to `Rprofile.site`

[2014-12-06 13:53] #64 closed, assigned to nriesland

[2014-12-06 13:56] #62 closed, assigned to nriesland

[2014-12-06 14:00] #55 closed, assigned to nriesland

[2014-12-06 14:07] #42 closed, assigned to nriesland

[2014-12-08 14:45] #63 closed, assigned to sfweller

[2014-12-08 14:54] #61 closed, assigned to j-martens

[2014-12-08 18:28] revodavid opened #68 "Readme.md still has some references to R 3.1.1"
In the "Test Suite" section. Update to R 3.1.2.

[2014-12-08 19:04] #10 closed, assigned to cmosetick

[2014-12-09 03:39] #68 closed, assigned to nriesland

[2014-12-09 17:22] #35 closed, assigned to sfweller

[2014-12-09 18:22] #28 closed, assigned to andrie

[2014-12-09 18:26] andrie opened #69 "Remove RRO-NEWS.txt"
The information in the [RRO-NEWS.txt](https://github.com/RevolutionAnalytics/RRO/blob/master/RRO-NEWS.txt) has been superseded by:
- [README.txt](https://github.com/RevolutionAnalytics/RRO/blob/master/README.txt)
- [NEWS page on MRAN](http://mran.revolutionanalytics.com/news/)

Remove this file from RRO distribution

[2014-12-09 18:28] #25 closed, assigned to cmosetick

[2014-12-09 19:53] revodavid opened #70 "Poor formatting on "License" page of installer"
Screenshot:

![image](https://cloud.githubusercontent.com/assets/152948/5364618/a29ca29a-7faa-11e4-88d2-f4a0abbf9b16.png)

Root issue is that the installer pulls directly from README-legal.txt, which is formatted to 80 characters.

[2014-12-09 21:41] #27 closed, assigned to sfweller

[2014-12-09 23:56] cmosetick opened #71 "error in Ubuntu installation script"
Using the latest 12.04 installer from the devstaging server at the end of the install on a clean system, I get this output:

[code]

There seems to be an extra `)` in the code.
@sfweller gets the same results in his tests too.

[2014-12-10 05:46] #22 closed, assigned to sfweller

[2014-12-10 17:42] #44 closed, assigned to nriesland

[2014-12-10 20:15] sfweller opened #72 "The latest Ubuntu installer fails to install the 'checkpoint' package."
After installing the latest Ubuntu installer on a Ubuntu 12.04 VM, the installation succeeds, however the checkpoint package is not getting installed and is missing from:

/usr/lib64/RRO-8.0.1/R-3.1.2/lib/R/library

Haven't confirmed this problem yet on Ubuntu 14.04 or on Mac.
Chris - can you check this on Ubuntu 14.04?

[2014-12-11 22:15] #66 closed, assigned to andrie

[2014-12-11 22:23] revodavid opened #73 "Installing package Rcpp from source fails"
User report: https://groups.google.com/d/msg/rropen/D3CY0tvopKk/67e5iQQ0amwJ

[code]

[2014-12-11 22:25] cmosetick opened #74 "segfault with ggplot2 on Mac with 8.0.1-Beta"
Earlier today I discovered this on my local Mac system and reported to @nriesland. Now a user is [reporting](https://groups.google.com/forum/?hl=en#!topic/rropen/pqnjmxHKJCA) the same thing in the forum.

[code]

[2014-12-11 22:27] revodavid opened #75 "Loading packages causes a segfault"
User report: https://groups.google.com/d/msg/rropen/pqnjmxHKJCA/THnWikhVg9cJ

To reproduce:

[code]

I can reproduce this on my Mac as well.

[2014-12-11 22:29] cmosetick opened #76 "error loading miniCRAN in 8.0.1-Beta"
I'm not sure that this is an RRO problem or a miniCRAN problem, but wanted to make a note of it here:
[code]

[2014-12-11 22:35] revodavid opened #77 "Incorrect repository set in GUI app"
Launch Revolution R Open.app

[code]

[2014-12-11 22:40] #77 closed, assigned to nobody

[2014-12-12 00:25] cmosetick opened #78 "README.md Test Suite section needs updating/improvment"
The `README.md` file has a "test suite" section. It needs to be updated/expanded or moved into a standalone page. The first part of the instructions do not work on Mac or Windows, the `install.sh` file referenced is RPM specific.

Since I have a copy of the RRO repository on my local system already, I was able to run the first test, pointing to where it lives in the repo:
`source("/Users/chris/src

[2014-12-12 15:00] bleutner opened #79 "Tcl/Tk support is not available -> Can't install packages"
Hi,

I'm running the official RRO 8.0.1. build for Ubuntu 14.04 on Ubuntu 14.04 from your MRAN sites.
However, Tcl/tk support is missing from RRO. This means that I can't install packages which depend on tcl/tk like 'vegan' or 'tcltk2' for example.

Error : .onLoad failed in loadNamespace() for 'tcltk', details:
  call: fun(libname, pkgname)
  error: Tcl/Tk support is not available on this system

[2014-12-12 16:47] revodavid opened #80 "8.0.1-beta2 build for Mac"
Update version to 8.0.1-beta2
Rename binary installer to include 8.0.1beta2 name (no need to change installed app names)
Update README-license.txt to remove MKL references and references to Revobase package
Update README.txt to remove MKL references and to point to new release notes
Update RRO-NEWS.txt
Update MRAN to replace references to MKL to "Multi-threaded math libraries". Note once that on W

[2014-12-12 20:24] j-martens opened #81 "Uninstall documentation for Ubuntu is incorrect"
The uninstall doc is wrong for Ubuntu

dpkg --purge RRO-8.0.1

should be:

dpkg --purge rro-8.0.1

[2014-12-12 23:55] #5 closed, assigned to sfweller

[2014-12-15 16:39] revodavid opened #82 "Need to be able to handle README files with different content on different platforms"
For example, README-legal.txt on Windows and Linux should include references to MKL, but on the Mac there should be no reference to MKL.

Similar issues with README.txt and RRO-news.txt

[2014-12-16 16:12] #80 closed, assigned to nobody

[2014-12-16 16:13] #74 closed, assigned to nobody

[2014-12-16 16:15] #75 closed, assigned to nobody

[2014-12-16 16:17] #70 closed, assigned to nobody

[2014-12-16 16:19] #65 closed, assigned to revodavid

[2014-12-16 16:20] #60 closed, assigned to sfweller

[2014-12-16 16:24] #58 closed, assigned to sfweller

[2014-12-16 16:33] #32 closed, assigned to nriesland

[2014-12-16 18:57] #82 closed, assigned to j-martens

[2014-12-16 21:53] bhaskarvk opened #84 "rpy2 compilation error."
Platform - OS X Yosemite
R -

[code]

Python -

[code]

gcc -

[code]

Either `pip install rpy2` or downloading rpy2 sourcecode and running `python setup.py install` gives..

[code]

[2014-12-16 22:27] #56 closed, assigned to andrie

[2014-12-17 15:24] #84 closed, assigned to cmosetick

[2014-12-17 20:20] #20 closed, assigned to cmosetick

[2014-12-18 18:02] cmosetick opened #85 "Dockerfiles for Linux builds should be included in repository"
RRO for Linux is built using Docker containers. This is a great feature, but currently the `Dockerfile` for each Linux platform is missing. Add these to the respective platform directories in the repo.

Solution will be to add proper `Dockerfile` for:
Ubuntu 12.04, 14.04
CentOS 5, 6, 7
OpenSUSE 13

[2014-12-18 18:22] cmosetick opened #86 "create dir for install.sh and .deb / .rpm files to live in as part of build process"
Right now `install.sh` and the `.deb` / `.rpm` files live next to where the user downloaded the `.tar.gz` file.

Creating a new directory for them to live in will make installation process much cleaner when someone downloads our installer .tar.gz files to some place like `~/Downloads` where there is potentially a lot of existing files already in the dir.

This should be a really low impact, but re

[2014-12-18 20:44] revodavid opened #88 "Missing library libRlapack.dylib"
With RRO-8.0.1-beta2
Some packages, including igraph, fail to load due to missing library

[code]

As a workaround, you can install R, then install RRO. There seem to be a number of libraries missing, that are replaced by installing R first. This is with RRO installed:

[code]
And this is after installing R on top of RRO:
[code]

[2014-12-18 22:15] #52 closed, assigned to nriesland

[2014-12-18 23:19] #79 closed, assigned to sfweller

[2014-12-19 01:12] cmosetick opened #89 "archive RC and/or Release builds in Jenkins"
@nriesland It appears we have not been using the archive feature of Jenkins, which will "keep this build forever" in Jenkins when we have a release candidate or release. I think this is a nice feature of Jenkins that we should be taking advantage of.

[2014-12-19 16:29] #71 closed, assigned to sfweller

[2014-12-19 16:30] #81 closed, assigned to sfweller

[2014-12-19 16:33] #72 closed, assigned to sfweller

[2014-12-19 23:13] #73 closed, assigned to sfweller

[2014-12-23 17:33] #69 closed, assigned to cmosetick

[2015-01-07 19:33] revodavid commented on #86
In general, tar files we distribute should always extract to a folder, rather than dumping files into cwd

[2015-01-21 13:58] andrie opened #91 "Unable to build from source on Windows: make.bat contains errors"
The makefile `make.bat` contains errors. For example:

* Refers to non-existent `.tar.gz` file

[code]

* Looks for existing installation of R?

[code]

* Looks for non-existent options folder
[code]

[2015-01-26 15:53] jonrobinson2 opened #92 "Strange Error on Package Installation"
I get these errors when I try to install more recent packages using RRO. Is this because they aren't on the MRAN or there something else going on here? Both packages are available for R3.1.1

caretEnsemble: Depends:	R (≥ 3.1.0)
rvest: Depends:	R (≥ 3.0.1)

Installing package into ‘/home/jrobinson/R/x86_64-unknown-linux-gnu-library/3.1’
(as ‘lib’ is unspecified)
Warning message:
package ‘caretEnsem

[2015-01-26 16:42] andrie commented on #92
This is most likely because you are using the default MRAN snapshot.

See http://mran.revolutionanalytics.com/open/#repos

For RRO-8.0.1, which is based on R-3.1.2, the default MRAN snapshot date is "2014-12-01"

To change your repos date to a different date, follow the instructions at http://mran.revolutionanalytics.com/faq/#change-repos

[2015-01-26 16:48] jonrobinson2 commented on #92
Thanks @andrie I'm an idiot for not reading far enough into the docs!

[2015-01-26 16:48] #92 closed

[2015-01-26 16:52] revodavid commented on #92
Specifically, you will need a repository after Jan 16 2015, which is when caretEnsemble was released. This is easy with `checkpoint`:

[code]

Also it looks like you are using RRO 8.0.0, based on R 3.1.1. You might want to upgrade to RRO 8.0.1 (based on R 3.1.2).

[2015-01-26 16:57] jonrobinson2 commented on #92
Any specific reason to upgrade to the sub point 1 release?

[2015-01-26 16:59] revodavid commented on #92
It's based on R 3.1.2, which is the latest R engine. caretEnsemble was released after R 3.1.2 was, so you may avoid some compatibility issues with it or one of its many dependencies.

[2015-01-26 17:03] jonrobinson2 commented on #92
Thanks. I figured that was the case, was more curious if the sub point 1 release for RRO was any different from the sub point 0 release besides the different R engine.

[2015-01-26 17:11] revodavid opened #93 "Revo.version object in wrong environment (base)"
On Mac, the Revo.version object gets installed in the standard R "base" library

[code]

it should be installed in an RRO-specific library attached by default.

[2015-01-26 17:30] andrie commented on #93
Clarification: The object doesn't get "installed".  It is set in the `Rprofile.site` file, using this code:

[code]

I'm surprised that R assigns this to the `base` environment.  I shall investigate.

[2015-01-28 15:31] andrie commented on #93
In RRE, the `Revo.version` is also attached in `base`.  This could be the desired behaviour.

The reason is that `Revo.version` should always be available.  If it is attached in a `RevoMods` or `RevoRRO` package, then the object will disappear if the package is unloaded, e.g. by `checkpoint`.  This may well be undesirable.

[code]

[2015-02-04 05:40] sfweller opened #94 "Linux RRO build process is not adding the repositories file from the etc folder in src"
We should be creating the file `repositories` under the `/etc` folder, but this file is missing from Linux installs. The file is in the R source tree, so there may be an issue in the `configure` process.

Without this file, customers cannot successfully install the bioconductor packages from the bioconductor repository.
To reproduce run the biocLite install script:
`source("http://bioconductor.org

[2015-02-05 01:30] cmosetick opened #95 "RRO install on Ubuntu creates /usr/lib64 directory"
### Overview
`/usr/lib64` directory does not exist natively on newer x64 Ubuntu installs. Since everything is [MultiArch](https://help.ubuntu.com/community/MultiArch) since Ubuntu 12.04, everything lives in `/usr/lib`. The RRO installer has sudo or root permissions, so it will create anything, even something that does not already exist.

### Detail
RRO installer creates a previously non-existing `

[2015-02-05 02:23] cmosetick opened #96 "R 3.1.2 lib paths differ between CentOS and Ubuntu"
I think this is low priority, but it is something I am curious about.

The path to the RRO installation on CentOS is:
/usr/lib64/RRO-8.0.1/R-3.1.2 **/lib64** /R

On Ubuntu the path is:
/usr/lib64/RRO-8.0.1/R-3.1.2 **/lib** /R

Note that this may or may not be related to issue #95.

[2015-02-12 17:06] cmosetick opened #97 "dev build of OSX installer has wrong file name"
The artifact is named 8.0.3, when it should be 8.0.2

http://jenkins.mran.io:8080/view/RRO/view/RRO-8.0.2.beta/view/build-binaries/job/RRO-OSX-build-8.0.2.beta/

[2015-02-18 18:29] bhaskarvk opened #98 "Error loading Matrix library"
OS - OS X Yosemite
Revo version -
[code]

[code]

I'm not on snapshot repository, My repository is 'http://cran.revolutionanalytics.com' coz I need quite a few latest updates.

[2015-02-18 19:11] revodavid commented on #98
Thanks for letting us know about this issue, which will be fixed in the next update. In the meantime, you can find a workaround here: https://github.com/RevolutionAnalytics/RRO/releases/tag/v8.0.1-beta2

[2015-02-18 19:12] revodavid commented on #98
Closing: Duplicate of #88

[2015-02-18 19:12] #98 closed

[2015-03-04 22:40] revodavid commented on #88
Workaround on release notes: https://github.com/RevolutionAnalytics/RRO/releases/tag/v8.0.1-beta2

[2015-03-09 19:54] revodavid opened #100 "NEWS update for 8.0.2"
[New text below -- note I haven't reproduced links here. Changes from current dev version in bold.]

Revolution R Open 8.0.2 is beta-test software. It has been tested and we expect it to work on all supported platforms, but will retain the "beta" label while we gather feedback from the community. Please report any problems or suggestions to the RRO Google Group.

**Revolution R Open 8.0.2 is based

[2015-03-09 21:35] j-martens opened #101 "RRO Windows Installer is unsigned"
We need to add the certificate before releasing. It is currently missing since we don't want it stolen. If we don't add it back, we get a scary looking error message on Windows 8.

[2015-03-10 03:39] j-martens commented on #100
Also, addressed in this commit: 1f96495f83125784e93fb95e454291694e5e3be7

[2015-03-10 03:39] #100 closed

[2015-03-10 18:37] j-martens opened #102 "Add release notes to tagged release for 8.0.2"
As part of the release process, we include release notes when we are taking our release. We should have the release notes and known issues ready to paste into the page.

https://github.com/RevolutionAnalytics/RRO/releases

[2015-03-10 18:39] j-martens opened #103 "MKL License information is missing from installers"
We need to inject the license agreement text into the RevoMath utilities.

Nathan will also need to add this license information.

Richard Kittler is supposed to generate the draft.

[2015-03-10 18:51] sdgilley opened #104 "Mac OSX: wrong Revo.version information - should be beta (or beta1), not beta2."
On the Mac OSX install, Revo.version shows beta2:

      _
major 8
minor 0.2-beta2

[2015-03-10 19:00] j-martens opened #105 "Remove README-legal for Mac."

[2015-03-10 19:01] #105 closed

[2015-03-11 14:34] sdgilley commented on #104
Fixed in today's RRO build:

      _
major 8
minor 0.2-beta

[2015-03-11 14:34] #104 closed

[2015-03-11 16:23] j-martens opened #106 "RRO 8.0.2 installer has beta2 in some places"
On Windows, it says beta2 on the last line of the Information setup screen.

"Click Next to begin installation Revolution R Open 8.0.2 beta2."

Should probably check Linux too since OS X had a problem with this too.

[2015-03-11 21:56] sdgilley opened #107 "RRO 8.0.2 on Mac OSX problem with HH package"
After installing RRO 8.0.2, the following code works successfully in RStudio:

install.packages('HH')
library(HH)

However, in the RRO GUI, the following occurs in the console window:

Loading required package: lattice
Loading required package: grid
Loading required package: latticeExtra
Loading required package: RColorBrewer
Loading required package: multcomp
Loading required package: mvtnorm
Loa

[2015-03-11 22:11] sfweller commented on #107
Hi Sherri,

This works for me trying this in the latest 8.0.3 Beta for RRO on Windows - what version of RRO does this fail in?

[2015-03-11 22:12] sfweller commented on #107
What is the platform and version of OS?

[2015-03-12 03:20] sdgilley commented on #107
See bug title - RRO 8.0.2 on Mac.  The problem also seems to exist in Mac OSX 8.0.1, as this was first reported on the Google Group for 8.0.1(Mac).  At first I didn't think we could reproduce, because I was running in RStudio.  Then I tried it on the RRO GUI and could reproduce (on 8.0.2).  While I didn't try it on 8.0.1, as I said, that's where the report first came from.

[2015-03-12 11:45] nriesland commented on #106
beta2 changed to beta

[2015-03-12 11:45] #106 closed

[2015-03-12 15:30] sdgilley commented on #107
Further info: from my RRO GUI (where this package fails)

    jpeg      png     tiff    tcltk      X11     aqua http/ftp  sockets
    TRUE     TRUE     TRUE     TRUE    FALSE     TRUE     TRUE     TRUE
  libxml     fifo   cledit    iconv      NLS  profmem    cairo      ICU
    TRUE     TRUE     TRUE     TRUE     TRUE     TRUE     TRUE     TRUE
Warning message:
In doTryCatch(return(expr), name, par

[2015-03-12 16:05] sdgilley commented on #107
I've now uninstalled RRO and installed CRAN R 3.1.2.  It also fails BUT it gives a much different error message:

Loading required package: lattice
Loading required package: grid
Loading required package: latticeExtra
Loading required package: RColorBrewer
Loading required package: multcomp
Loading required package: mvtnorm
Loading required package: survival
Loading required package: splines
Loadi

[2015-03-13 00:16] sfweller opened #108 "RRO 8.0.2 Beta 1 installs the wrong Rprofile.site"
In RRO 8.0.2 we should now be installing the `Rprofile.site` file from the following location:
`/parallelR/trunk/RevoR/resources/shared/profiles/Rprofile.site`

Currently, because we are using the old Rprofile.site some new Revo packages are not being loaded as they should, for example `RevoUtilsMath` is not being loaded when RRO is launched on Windows.

[2015-03-13 14:34] sdgilley opened #109 "Need automated way to display contents of .sha1 files"
On the Download page, there is a popup dialog with sha1 values.  HOWEVER, it was built by manually copying and pasting values from an email, which are NO LONGER the correct values.  For that reason, I'm marking this a critical bug.

There is a .sha1 file corresponding to each binary in the install directory.  We need the build to pick up the contents of those files so that they can be used to popu

[2015-03-13 18:49] #109 closed

[2015-03-13 18:50] sdgilley commented on #109
Reported in wrong repository.

[2015-03-17 13:57] dkarlov commented on #37
This problem also occurred on suse 12.2

[2015-03-17 14:11] revodavid commented on #37
@dkarlov, can you tell us what the result of `getOption("unzip")` is on your system? Setting `options(unzip="internal")` should work around the problem, but I am unsure whether RRO is behaving differently to R in this regard,

[2015-03-17 14:14] dkarlov commented on #37
[1] ""

[2015-03-17 14:15] dkarlov commented on #37
install_git worked perfectly

[2015-03-19 23:17] j-martens commented on #102
Here is one known defect to include:

The RRO GUI (RRO.app) on OS X fails whenever you attempt to load a package that launches a tcltk window (for example, the HH package). To work around this issue, use R in a terminal window or another IDE such as RStudio for these packages. [Issue #107]

[2015-03-24 20:23] taylorterry3 opened #110 "Bad character in 8.0.1 Beta 2 release notes"
This is extremely minor, but it confused the hell out of me for about 5 minutes so I figured I'd report it. In @revodavid's release notes at https://github.com/RevolutionAnalytics/RRO/releases/tag/v8.0.1-beta2 there is a one liner near the bottom that creates a symlink for the BLAS library. Between `sudo` and `ln` are a space and then some weird junk characters that cause the command to fail when

[2015-03-25 12:43] andrie commented on #102
The draft release notes are at

https://docs.google.com/a/revolution-computing.com/document/d/1YVY5LI8kTy598Fp_TlVb1IlMVXedds6lzhL0HJ9xLZQ/edit#

[2015-03-25 15:12] j-martens commented on #110
Thank you @taylorterry3 for reporting this. I believe it is fixed now.

[2015-03-26 14:52] revodavid commented on #88
Verified fixed in 8.0.2 Beta 1.

[2015-03-26 15:02] revodavid commented on #107
I was able to install and load the HH library successfully from the terminal today. `install.packages("HH")` successfully installed HH and several dependencies. Then when I ran `library(HH)` the following dialogs appeared:

![screen shot 2015-03-26 at 9 56 29 am](https://cloud.githubusercontent.com/assets/152948/6849106/0016a040-d39f-11e4-8a90-64fa42ffeb5c.png)

I clicked Yes.

![screen shot 2015-

[2015-03-26 15:04] revodavid commented on #107
However, calling `library(HH)` from Revolution R Open.app yields the following:

[code]

[2015-03-26 18:12] bdemeshev opened #112 "deviance "function not found""
[code]

gives:

Error: could not find function "devianсe"

[2015-03-26 18:18] andrie commented on #112
If I copy your code, that letter that looks like a `c` is some unicode character:

[code]

If I use `deviance()` with all ASCII, I can't reproduce your problem:

[code]

[2015-03-26 18:18] revodavid commented on #112
Hi Boris,

The code works fine if I TYPE the following on my system:

[1] 90263944583

However, if I cut-and-paste your last line I get this error:

Error: could not find function "devianсe"

There's actually a typo in your text -- the "c" is actually a foreign
character. If you manually type "deviance" at the command line instead of
cut-and-pasting it should work fine.

The error is in wherever y

[2015-03-26 18:24] bdemeshev commented on #112
sorry for bothering you!

[2015-03-26 18:24] #112 closed

[2015-03-31 21:34] sdgilley opened #114 "accounting for packages removed from CRAN"
When a package is removed from CRAN, we correctly no longer show it in the packages table.  However, we may still display information about the package if the user types the URL for it, such as
http://mran.revolutionanalytics.com/packages/info/?tRakt .

The links on this page for the manual, vignette, and source won't work because the package was removed from CRAN.

[2015-04-02 14:17] revodavid commented on #114
This should be an MRAN issue, not an RRO issue.

[2015-04-02 14:17] #114 closed

[2015-04-02 14:17] #110 closed

[2015-04-02 14:18] #103 closed

[2015-04-02 14:19] revodavid commented on #108
@sfweller I assume this is fixed now -- please close.

[2015-04-02 14:20] #102 closed

[2015-04-02 14:20] #101 closed

[2015-04-02 14:21] #97 closed

[2015-04-02 14:22] revodavid commented on #96
@sfweller please confirm whether this issue still exists in 8.0.2beta1

[2015-04-02 14:23] revodavid commented on #59
Add a build number to the Revo.version object

[2015-04-02 14:24] revodavid opened #115 "R 3.1.3 engine"

[2015-04-02 14:27] revodavid commented on #93
The correct resolution is to create a standard package for Revo enhancements, on the search path by default, that includes this object.

[2015-04-02 14:28] revodavid commented on #91
@nriesland is this still an issue in 8.0.2beta1? If not please close.

[2015-04-02 14:30] #88 closed

[2015-04-02 14:34] revodavid commented on #76
Fixed in 8.0.2beta1.

[2015-04-02 14:34] #76 closed

[2015-04-02 14:38] revodavid commented on #93
See also #38

[2015-04-02 14:45] revodavid commented on #37
A call do `install_git` of this form also works around the issue:
[code]

[2015-04-02 14:47] revodavid commented on #36
@sfweller please retest on 8.0.2beta1

[2015-04-02 14:50] #24 closed

[2015-04-02 14:50] #23 closed

[2015-04-02 14:51] #2 closed

[2015-04-02 14:51] #1 closed

[2015-04-02 14:51] #3 closed

[2015-04-02 14:57] revodavid opened #116 "Update version number to 8.0.3"
In product, doc and on MRAN.
Note the lack of a beta label -- 8.0.3 will be the first non-beta version.

[2015-04-02 15:43] sfweller commented on #96
This does not appear to be fixed yet - this is still an issue in the RRO 8.0.2 Beta for Ubuntu 14.

[2015-04-02 15:48] sfweller commented on #37
David - should we have Josee add the 'install_git' workaround to the RRO release notes for the 8.0.3 release?

[2015-04-02 15:51] revodavid commented on #37
I have already done so, for the 8.0.2 release.

--
David M Smith <david@revolutionanalytics.com>
Chief Community Officer, Revolution Analytics
http://blog.revolutionanalytics.com
Tel: +1 (650) 646-9523 (Chicago IL, USA)
Twitter: @revodavid

On Thu, Apr 2, 2015 at 10:48 AM, Stephen Weller <notifications@github.com>
wrote:

[2015-04-02 16:38] revodavid opened #117 "Set default CRAN snapshot to April 1, 2015"

[2015-04-02 16:43] revodavid opened #118 "Ubuntu 15.04 support"
Once complete Ubuntu 12.04, 14.04 and 15.04 are supported versions.

(We are skipping 14.10, as it's not a long-term support version. Our general policy will be to support the most-recent Ubuntu version plus the last two LTS versions.)

[2015-04-02 16:50] j-martens commented on #118
When you are done, please assign to me Nick.

[2015-04-02 16:57] revodavid commented on #95
We should follow the appropriate Ubuntu policy regarding installation location.

[2015-04-02 17:03] j-martens commented on #33
Assign to Josee when done Nick.

(Josee: Add an FAQ on how to turn it back on)

[2015-04-02 19:11] sfweller opened #119 "Crash in RStudio running RRO on Windows with MKL installed"
When you attempt to load the RevoUtilsMath library with:

you get an 'R Session Aborted' dialog: R encountered a fatal error - the session was terminated'.
Problem does not happen when running  Rgui.exe with RRO or when loading RevoUtilsMath package in Revolution R Enterprise.

Issue reported by a user running Windows 8.1, but problem also occurs on Windows system running Windows 7 and Rstudio des

[2015-04-03 10:57] #59 closed

[2015-04-03 10:58] nriesland commented on #59
build number is now part of Revo.version

[2015-04-03 11:00] nriesland commented on #118
15.04 has been added to the Jenkins build

[2015-04-03 11:04] nriesland commented on #117
snapshot set to 2015/04/01

[2015-04-03 11:04] #117 closed

[2015-04-03 11:05] nriesland commented on #116
Version number updated to 8.0.3 in docs and builds

[2015-04-03 11:05] #116 closed

[2015-04-03 11:06] nriesland commented on #115
8.0.3 support Cran R 3.1.3

[2015-04-03 11:06] #115 closed

[2015-04-03 11:08] nriesland commented on #91
unable to re-produce

[2015-04-03 11:08] #91 closed

[2015-04-03 13:26] j-martens opened #120 "8.0.3 - Certificate signing for Mac and Windows"
Before releasing these need to be signed.

[2015-04-03 13:28] j-martens opened #121 "8.0.3 - Update readme.txt and readme.md"
For the release, update these files. Look for the version numbers, beta versions, and repository dates. Also, ask DS for legal review.

[2015-04-03 13:31] j-martens opened #122 "8.0.3 - Write github release notes and put in pre-release"
Work with AdV and DS to finalize release notes for github.
Save as pre-release in anticipation of final release.

[2015-04-03 13:39] j-martens opened #123 "8.0.3 - Update the customer (download) letter"
Verify that we are still doing it this way with Yonnie. Make any updates to the content.

[2015-04-03 16:15] revodavid commented on #119
Any call to BLAS or LAPACK crashes the R session, even without loading the RevoUtilsMath package. Something as simple as:

[code]

works in RGui or R cmd lline, but crashes in RStudio

[2015-04-06 17:43] j-martens commented on #121
The readme.md and readme.txt currently reference:

RRO version number: 8.0.3
R version number: 3.1.3
Repos date: April 1, 2015

A legal review may still be needed by @revodavid

[2015-04-06 17:45] j-martens commented on #123
The current letter maintained by Yonnie is for the RRP program.
Is there a replacement for this customer letter, @revodavid? Should we remove this task from the release checklist for now?

[2015-04-06 17:48] j-martens commented on #54
@sfweller are you recommending that we say that installs of RRO on Ubuntu 12.04 from a live CD are not supported?  If so, is it only for 12.04 or also for 14.04, and 15.04? Thanks.

[2015-04-06 19:31] revodavid commented on #123
This should remain part of the release checklist, but it's not a task for this project.

[2015-04-06 19:31] #123 closed

[2015-04-09 14:27] sfweller commented on #54
Check with @revodavid, but I think for now our stance is that live CD installs will not be supported, regardless of the version of Ubuntu the customer is running. So we can probably close this issue.

[2015-04-09 14:44] revodavid commented on #54
Fine with me, document as unsupported.

[2015-04-13 12:15] grumpycatt opened #124 "Ubuntu deb package doesn't include repositories file"
As I'm testing RRO latest version on Ubuntu, I found out that the repositories file isn't included into the .deb package RRO-8.0.2-Beta-Ubuntu-14.04.x86_64.deb, which is causing some errors during packages installation (i.e. bioconductor)

A thread was already opened regarding to that issue,
https://groups.google.com/forum/#!topic/rropen/sJRJE9khzuw

I need to put this, https://github.com/Revoluti

[2015-04-13 13:35] revodavid commented on #124
Thanks for the report. This is a duplicate of #94 , so I'll close this issue, which is targeted to be fixed in 8.0.3.

[2015-04-13 13:35] #124 closed

[2015-04-13 14:39] j-martens commented on #33
@nriesland are you ready for me to document now?

[2015-04-13 14:41] nriesland commented on #33
yes, this is now part of the builds

On Mon, Apr 13, 2015 at 7:39 AM, j-martens <notifications@github.com> wrote:

[2015-04-13 22:27] j-martens commented on #122
DRAFT DRAFT DRAFT

This release of Revolution R Open fixes some bugs, and uses the R engine 3.1.3. We recommend upgrading to this version if you are experiencing any of the issues listed in the “Fixed bugs” section.

## Highlights
+ Based on R-3.1.3

## Fixed bugs

## Known issues

## Download the binaries
Visit [http://mran.revolutionanalytics.com/download/](http://mran.revolutionanalytics.com/do

[2015-04-13 22:28] swells commented on #122
This looks correct.

[2015-04-14 17:20] revodavid commented on #95
This is not in violation of any Ubuntu policies or best practices, so we won't make this change.

[2015-04-14 17:20] #95 closed

[2015-04-14 17:35] revodavid opened #125 "Create Cloudera parcel for installation on Hadoop"

[2015-04-17 06:06] andrie opened #126 "RRO install crashes on Mac OSX 10.8.4"
Issue reported by @fieldy6961

[code]

[2015-04-17 10:10] andrie commented on #126
This version is not supported.  The lowest version we support is Mac OS X Mavericks (10.9), Yosemite (10.10)

http://mran.revolutionanalytics.com/download/

[2015-04-17 10:10] #126 closed

[2015-04-17 16:32] revodavid opened #127 "Prevent installation on incompatible platforms"
The installer should check if the platform is supported and abort the installation if it is not. The goal is to prevent issues like #126

[2015-04-22 11:12] grumpycatt opened #128 "MKL install script bad path to RevoUtilsMath.tar.gz in some case"
If you run the install script outside of RevoMath directory, you won't be able to install correctly the R package RevoUtilsMath.tar.gz. This is due to this line of code into the shell script :

- $R_PATH CMD INSTALL RevoUtilsMath.tar.gz  > mkl_log.txt 2>&1

In order to fix it, I just added the PWDD before the package call :

- $R_PATH CMD INSTALL $PWDD/RevoUtilsMath.tar.gz  > mkl_log.txt 2>&1

Hop

[2015-04-23 14:25] andrie commented on #67
This has now been superceded by `RevoMathUtils`

[2015-04-23 14:25] #67 closed

[2015-04-24 15:43] #96 closed

[2015-04-24 15:43] j-martens commented on #96
It was decided as a group that we will not fix this behavior.

[2015-04-24 15:50] j-martens commented on #86
Assign to Josée when you've made the change on your end.

[2015-04-24 15:55] j-martens commented on #86
Create new directory called:
/RRO_8.0.3

[2015-04-24 15:59] andrie commented on #127
Not easy to do using build scripts. Nick to review for next release (possibly RRO-8.0.4?)

[2015-04-26 13:20] nriesland commented on #86
completed for all Linux platforms.   directory is /RRO-8.0.3

[2015-04-27 15:52] j-martens opened #129 "RRO Windows installer still says Beta in the setup screens."
the installer setup screens say  RRO for Windows 8.0.3-Beta.  There should be no '-Beta'.

[2015-04-27 20:55] #129 closed

[2015-04-28 17:13] andrie commented on #119
David Champagne tested and resolved

[2015-04-28 18:27] sfweller commented on #86
Verified that this issue has been fixed on all Linux platforms in RRO-8.0.3.

[2015-04-28 18:27] #86 closed

[2015-04-28 20:55] andrie opened #130 "Check at session start if checkpoint installed correctly"
The installation of `checkpoint` from MRAN can fail, for example when installation happens without an internet connection.

Currently, there is no warning if `checkpoint` fails to install.  This is a bug, since the promise of RRO is that `checkpoint` is part of the system (for reproducibility).

Possible option:

* Add a test in `Rprofile` to confirm if `checkpoint` is available (potentially also

[2015-04-28 21:10] sfweller commented on #130
Maybe we could add a R test to see if a user has a valid current internet connection?

Here are some suggestions I found for that in this writeup on stackoverflow:
http://stackoverflow.com/questions/5076593/how-to-determine-if-you-have-an-internet-connection-in-r

[2015-04-28 22:05] sfweller commented on #108
This is still not working as it should. In order for the Intel MKL libraries to work properly with RRO,
we need to make sure that the RevoUtilsMath package is loaded on startup, so that users don't need to do that themselves.

We need to add the following line to the Rprofile.site to automatically load it:
options(defaultPackages = c(getOption("defaultPackages"), "RevoUtilsMath"))

Assigning back

[2015-04-29 13:47] andrie opened #131 "Install checkpoint from 2015-04-29 MRAN snapshot"
The windows binary for `checkpoint-0.3.10` was captured in the 2015-04-29 snapshot.

Use

[code]

to install

[2015-04-29 13:51] andrie commented on #130
@sfweller Nice suggestion. This would be an improvement on the following raw installation checking code:

[code]

[2015-04-29 16:31] revodavid commented on #121
No changes required for readme.txt
Readme.md need to update R version numbers (see PR)

[2015-04-29 16:59] revodavid opened #133 "Side-by-side installs on Windows not possible when using MKL"
If you try and install MKL when it's already installed, you get this message:
"Another version of this product is already installed. Installation of this version cannot continue. To configure or remove the existing version of this product, use Add/Remove Programs on the Control Panel."

[2015-04-29 17:03] revodavid commented on #133
Uninstalling "RevoMath" from Add/Remove programs allows you to run the installer. It's not clear from the error message that "RevoMath" is the thing you need to uninstall, though.

[2015-04-29 18:04] j-martens commented on #121
Cannot reproduce the R version issue on the dev branch.

[2015-04-30 10:16] andrie commented on #38
RevoMods is now defunct. Closing issue.

[2015-04-30 10:16] #38 closed

[2015-04-30 10:18] andrie commented on #108
Tagging with 8.0.3 since Stephen reports this is still an issue

[2015-04-30 10:30] andrie commented on #131
I downloaded RRO from devstaging this morning and I get `checkpoint` version 0.3.9 instead of 0.3.10.

Could this be linked to an installation date that is incorrect?

[2015-04-30 10:32] andrie commented on #131
The code in the [dev branch](https://github.com/RevolutionAnalytics/RRO/commit/90b50a109044c576c82a39bfa2b3676f50234cdd)  looks ok.

Did I download the correct installer?

[2015-04-30 10:56] andrie commented on #131
Additional information: It seems that `RRO-8.0.3 build 24` does not install `checkpoint` **at all** on Windows.

On a clean machine, new install, `checkpoint` is not in the user library nor the system library.

[2015-04-30 13:42] revodavid commented on #131
I also find I have checkpoint 0.3.9 installed in my Windows install. I
didn't do a full uninstall, so it's possible it's from an older
installation.

# David

--
David M Smith <davidsmi@microsoft.com>
Chief Community Officer, Revolution Analytics
http://blog.revolutionanalytics.com
Revolution Analytics is a wholly-owned subsidiary of Microsoft.
Tel: +1 (650) 646-9523 (Chicago IL, USA)
Twitter: @re

[2015-04-30 13:59] revodavid commented on #131
Looking closer, I see that .libPaths() is

[code]

`checkpoint` is installed in `C:/Users/davidsmi/Documents/R/win-library/3.1` and not in `C:/Program Files/RRO/R-3.1.3/library`.

[2015-04-30 14:03] revodavid opened #134 "Notification on startup that multi-threading is in use"
On startup, issue a message to indicate multu-threaded math is in use:

`Multithreaded BLAS/LAPACK libraries detected. [NN] cores will be used.`

On MKL platforms (Windows/Linux), [NN] should be the results of `RevoMathUtils::getMKLthreads()`. On Mac, simply print `All` or count the number of cores some other way.

[2015-04-30 14:21] j-martens commented on #133
Is this something we want to document in the uninstall instructions or  update in the software messages?

[2015-04-30 14:21] #121 closed

[2015-04-30 15:06] andrie commented on #133
I think we should.

Specifically, this only happens with RRO-8.0.2 and RevoUtils.

In RRO-8.0.3 the RevoUtils download has a matching version number, thus allowing future side-by-side installs.

[2015-04-30 15:09] andrie commented on #134
Agree with this.  We discussed this last night in a team meeting, and agreed to implement in 8.0.4.

Note for implementation:

+ If `RevoUtilsMath` is installed, display message about number of cores used
+ If not installed, display message about optional download instructions

[2015-04-30 15:16] andrie commented on #122
First rough draft ready (in original issue description).  Outstanding item: review bug fixes and improvements and include in notes.

Pinging @j-martens and @revodavid

[2015-04-30 15:45] sdgilley commented on #134
I agree it should be for 8.0.4, we still need to work out some of the details…
For example, David S. wants a message on Mac as well.  But Mac does not currently install RevoUtilsMath (or is is now RevoMathUtils?  I keep getting confused…) but that is not installed today on the Mac.  Should we install it in 8.0.4?

Let’s discuss more next week…

From: Andrie de Vries
Reply-To: RevolutionAnalytics/R

[2015-04-30 16:13] andrie commented on #122
Add note on RevoMath uninstall

[2015-04-30 16:22] revodavid opened #135 "library(RevoUtilsMath) generates an error dialog if MKL not loaded"
On Windows, if you install RRO but do *not* install MKL, then `library(RevoUtilsMath)` pops up an error dialog with the message "The procedure mkl_get_max_threads could not be found"

(This occured when I reinstalled RRO 8.0.3 over an existing install but didn't reinstall MKL.)

Instead, provide an error message in the R console: "To use RevoUtilsMath you must first install the MKL Math Library. V

[2015-04-30 17:25] sfweller commented on #94
Confirmed that the issue has been fixed in RRO 8.0.3.

[2015-04-30 17:25] #94 closed

[2015-04-30 17:59] sfweller commented on #120
Confirmed that certificate is signed for both Windows and Mac installers.

[2015-04-30 17:59] #120 closed

[2015-04-30 18:38] sfweller commented on #49
Verified fix has been added to 8.0.3 on all supported platforms.

[2015-04-30 18:38] #49 closed

[2015-04-30 18:45] sfweller commented on #128
Confirmed that fix has been added to RevoMath.sh in RRO 8.0.3 RC.

[2015-04-30 18:45] #128 closed

[2015-04-30 19:15] sfweller commented on #119
Works with latest RRO installer and latest RevoMath installer for 8.0.3.

[2015-04-30 19:15] #119 closed

[2015-04-30 19:22] sfweller commented on #54
Won't fix. Problem has been documented.

[2015-04-30 19:22] #54 closed

[2015-04-30 20:27] sfweller commented on #36
This works now with RRO 8.0.3 on a  CentOS 6.6 test machine.

[2015-04-30 20:27] #36 closed

[2015-04-30 20:32] #33 closed

[2015-04-30 20:48] #6 closed

[2015-04-30 21:08] andrie commented on #122
This is now drafted as a pre-release at https://github.com/RevolutionAnalytics/RRO/releases

[2015-04-30 22:13] #122 closed

[2015-05-01 14:45] sfweller commented on #107
Confirmed as working in RRO 8.0.3 on Mac OS-X Yosemite 10.10.1.

[2015-05-01 14:45] #107 closed

[2015-05-01 15:00] revodavid commented on #107
In that case we should remove it from the release notes for 8.0.3.

[2015-05-12 20:44] revodavid opened #137 "R 3.2.0"
Include R 3.2.0 engine on all supported platforms

[2015-05-12 20:45] revodavid opened #138 "Version number tracks R engine version"
Next release on R 3.2.0 to be called R 3.2.0.0.
Fourth version number to be used for patch updates and interim releases.

[2015-05-14 16:33] revodavid commented on #137
Complete for Linux, still in progress on Windows.

[2015-05-17 11:56] andrie commented on #134
On windows and Linux, the code is:

[code]

However, I need to find a reliable way of testing for the availability of math library on Mac.

@revodavid and @sdgilley Do you know how to do this?

[2015-05-18 16:51] revodavid commented on #134
Since our Mac builds are always linked to Accelerate, there's no need to detect. The message could thus be:

"Multithreaded BLAS/LAPACK libraries detected. Using all available cores for math algorithms."

You could use parallel:::detectCores() to actually count the number, but at least on my MBP that reports 8 instead of the expected 4.

# David

[2015-05-18 18:34] sdgilley opened #139 "wrong version of RevoMath in 5/18 build"
The RevoMath installer for Windows is in a file called RevoMath-3.2.0.  However, when I launch this the screen is labeled RevoMath-8.0.3 Setup.  I spoke with Nathan who indicated he had not yet built the 3.2.0 version of RevoMath; thus this is indeed still the old version.  We need the 3.2.0 version to ship with RRO 3.2.0.

[2015-05-18 18:39] sdgilley opened #140 "wrong checkpoint date noted in text at startup"
When starting RRO 3.2.0, the text at the top says:
Using CRAN snapshot taken on 2015-04-01

This is not the correct date.  In fact, getOption shows the correct date:

                                                     CRAN
"http://mran.revolutionanalytics.com/snapshot/2015-05-01"

The text needs to be updated to use this date as well.

[2015-05-18 19:19] andrie commented on #134
I see what you mean, but this implies a forked version of `Rprofile.site`, which makes maintenance harder.  IIUC, right now we have only a single version of `Rprofile.site`.

[2015-05-18 19:23] revodavid opened #141 "R 3.2.1 engine"
To be released on June 18. First prerelease on June 8

[2015-05-18 19:26] revodavid opened #142 "Package bundling system"
Make it possible to bundle and install selected packages with RRO, rather than having to download from CRAN on install.

[2015-05-18 20:09] revodavid commented on #134
You could have platform check in Rprofile.site with branch code specific to platforms, without needing to have multiple versions of the file.

[2015-05-18 20:26] andrie commented on #134
Yes, but I haven't found a way to reliably tell me that the platform is OSX.  The OS checks I found tells me that the Mac OS is "Linux", and testing for the package type, e.g. "mac.binary" is explicitly recommended against. In any way, this isn't guaranteed to work, since the setting could be "source", even on a Mac.

[2015-05-18 20:34] j-martens commented on #133
We need to ensure that we can do side by side installs of Windows RRO with MKL 8.0.3 and 3.2.0.

@revodavid  @nathansoz

[2015-05-18 20:37] j-martens commented on #133
@sdgilley reports that the 3.2.0 build she just tested works side by side with 8.0.3.

[2015-05-18 22:33] revodavid commented on #133
See also #135 -- is this also fixed now?

[2015-05-18 22:49] revodavid commented on #118
Support included in 8.0.3

[2015-05-18 22:49] #118 closed

[2015-05-18 22:49] #131 closed

[2015-05-18 22:50] revodavid commented on #108
@sfweller can you confirm fixed in 8.0.3? If so please close.

[2015-05-18 22:51] revodavid commented on #53
@sfweller can you confirm fixed for 8.0.3?

[2015-05-18 22:52] revodavid commented on #142
Required to bundle checkpoint.

[2015-05-18 22:54] revodavid commented on #18
This is possible since at least 8.0.2 wih some user configuration.
See  http://blog.revolutionanalytics.com/2015/05/behold-the-power-of-parallel.html

[2015-05-18 22:54] #18 closed

[2015-05-19 13:23] nriesland commented on #140
text has been updated to 2015-5-01

[2015-05-19 13:23] #140 closed

[2015-05-19 13:34] j-martens commented on #135
This is being address by a warning message in the package stating that you must first uninstall MKL and then reinstall it. #133

[2015-05-19 13:34] #135 closed

[2015-05-19 13:38] j-martens commented on #133
Note added states:

Warning! If you are attempting to reinstall the MKL math library for Revolution R Open 3.2.0, then you must first uninstall RevoMath from within the Add or Remove Programs or Uninstall a program dialog before proceeding with the reinstall.

[2015-05-19 13:39] j-martens commented on #133
Uninstall/reinstall warning to be added to package by RCalaway.

[2015-05-19 14:12] revodavid commented on #137
All RRO builds (but not MKL) now in devstaging

[2015-05-19 15:41] j-martens opened #143 "Cannot reinstall RRO without breaking MKL on Windows"
If you install RRO and MKL, and then later uninstall and reinstall RRO without doing the same for MKL, RevoUtilsMath will no longer work after reinstalling RRO. Today, users must uninstall and reinstall MKL too. Fix installers so that uninstalling RRO doesn't break any other packages.

[2015-05-19 15:49] revodavid commented on #134
`Sys.info()["sysname"]=="Darwin"` should be an accurate test for Mac platform on all the Mac versions we run on.

[2015-05-19 18:06] sfweller commented on #108
I am closing this issue. The Rprofile.site for RRO still does not match the one for RRE. but Rich C. says that was a conscious design decision. It appears to be now the way it is supposed to look like.

[2015-05-19 18:06] #108 closed

[2015-05-19 18:08] andrie commented on #134
This code seems to work on Windows and Mac. Not yet tested on Linux:

[code]

[2015-05-19 18:37] #30 closed

[2015-05-19 18:38] j-martens commented on #9
Is this fixed, @sfweller ?

[2015-05-19 19:19] j-martens commented on #134
Yes, it worked on my Mac.

Do we need to verify on Linux? Who can do that?

[2015-05-19 19:19] j-martens commented on #139
It appears as 8.0.3 now. Ready for QA.

[2015-05-19 19:40] andrie commented on #139
downloaded from http://devstaging.mran.io/download/#download and tried on Windows.

Although the installer says RevoMath-3.2.0, internally it refers to RRO-8.0.3 so doesn't link correctly.

There still is something wrong, AFAICT

[2015-05-19 20:53] revodavid commented on #139
Still an issue for me after downloading 10 mins ago.

![image](https://cloud.githubusercontent.com/assets/152948/7713743/40ca3a82-fe3f-11e4-8cee-095cc0e13518.png)

[2015-05-19 20:54] revodavid commented on #139
This breaks the installation process -- it does not install when you click next, instead you get options to Repair or Remove.

[2015-05-19 21:36] nathansoz commented on #139
In talking with @j-martens and @nriesland it appears that the Devstaging site was never updated with the most recent MKL installer. This should be fixed now.

[2015-05-19 21:46] j-martens commented on #139
It appears that a Jenkins copy job went awry. The set up screen now shows 3.2.0 on my Win machine.

[2015-05-19 22:03] revodavid commented on #139
I have the new build but it skips the entire "Welcome to the RevoMath" page. The first thing you see is "Please read the RevoMath-3.2.0 License Agreement"

[2015-05-19 22:11] j-martens commented on #139
The welcome screen appears for 3.2.0 (and 8.0.3) **ONLY** when you attempt to install over an existing MKL of the same version. This welcome screen has a notice similar to the following:
"Setup allows you to change the way RevoMath features are installed on your computer or to remove it from your computer. Click Next to continue."

If you'd like to add a welcome screen to fresh installs, we can ad

[2015-05-19 22:16] revodavid commented on #139
There should be a welcome screen -- please add a card.

[2015-05-19 22:17] revodavid opened #144 ""not writable" error when installing new packages on 3.2.0"
I get an error when attempting to install packages:

[code]

[2015-05-19 22:21] nathansoz commented on #144
This is not a bug. As a normal user you would not have write access to anything in C:\Program Files. When I try this, it prompts me to make a personal library.

If you want to install to the system library, you must run R or Rgui as administrator.

[2015-05-19 22:21] #144 closed

[2015-05-19 22:26] nathansoz commented on #144
R windows FAQ documents this behavior:

http://cran.r-project.org/bin/windows/base/rw-FAQ.html
2.24 Does R run under Windows Vista/7/8/Server 2008?
...
If you install R as a standard user into your own file space and use it under the same account, there are no known permission issues.

If you use the default Administrator account (without ‘admin approval mode’ being turned on) and install/update p

[2015-05-19 22:28] revodavid commented on #144
Package installs work out-of-the-box in CRAN R 3.2.0, and the same must be true of RRO.

[code]

[2015-05-19 22:29] nathansoz commented on #144
Yes. In your example you are installing to your local personal library: C:/Users/davidsmi/Documents/R/win-library/3.2

[2015-05-19 22:29] j-martens opened #145 "MKL installer needs Welcome Screen"
Currently, there is no Welcome Screen on a fresh installation of MKL.  We should add one that looks similar to the Welcome that appears when you attempt to reinstall over MKL.

If we have control over the text in that screen, here is the suggested text to use:

Welcome to the RevoMath-3.2.1 Setup Wizard

This setup wizard allows you to install the RevoMath library on your computer. Click Next to c

[2015-05-19 22:30] revodavid commented on #144
In a default install of R it works.
In a default install of RRO it does not work.

[2015-05-19 22:45] nathansoz commented on #144
@revodavid and I discussed this issue on the phone and have cleared up why the behavior is happening. It mirrors the behavior of R, and the behavior for each will be different depending on if R or RRO was previously installed. @revodavid is re-testing and will report back.

[2015-05-19 22:55] revodavid commented on #144
Issue only occurs on a system where a package has never been installed before (in R or RRO), and the ~/Documents/R/win-library/<version> folder does not exist. (You can recreate the issue by deleting that folder.)

Confirmed that RRO has the same behaviour as CRAN R in this instance: to prompt the user to create the ~/Documents/R/win-library/<version> folder.

[2015-05-19 23:00] j-martens commented on #144
Are there any actions needed here or can we close this defect?

[2015-05-20 13:42] revodavid commented on #144
It is already closed.

[2015-05-20 14:41] revodavid commented on #134
Deferred to 3.2.1

[2015-05-21 13:33] j-martens commented on #125
Duplicate of https://github.com/RA-Internal/MRAN-site/issues/148

[2015-05-21 13:33] #125 closed

[2015-05-21 15:30] j-martens commented on #137
All builds on devstaging now.

[2015-05-21 15:31] j-martens commented on #139
Card added here: https://github.com/RevolutionAnalytics/RRO/issues/145

This issue is now resolved.

[2015-05-21 15:32] sfweller commented on #139
Verified that this has been fixed in latest devstaging build.

[2015-05-21 15:32] #139 closed

[2015-05-21 15:34] j-martens commented on #138
Wait until RRO 3.2.0.0 is released to verify release version number.

[2015-05-21 21:14] #137 closed

[2015-05-21 21:14] #133 closed

[2015-05-22 13:58] #138 closed

[2015-05-22 19:35] j-martens opened #147 "Support for SLES10 and SLES11 for RRO 3.2.1"
RRO for SLES11 and SLES10 will serve as a base for the RRE install on Teradata (and, in the future, a base for all of our offerings).

A note from @nathansoz
The plan is to backport sles10/11 to RRO 8.0.3. Consequently we would need those distributions to have relocatable RPMs. My ideal would be to limit this change to the new distributions in 8.0.3 and then open it up to the other RPM based distr

[2015-05-22 19:38] j-martens opened #148 "Relocatable RPMs for SLES distributions"
The proposal is to create relocatable RPMs for Linux distributions of RRO. This is required for installing on Teradata and also an all-around advantage for RRO.

Notes from @nathansoz

One requirement for installing on the Teradata platform is that the rpms (installers) that we generate must be “relocatable.” This is just a fancy way of saying that you can install it anywhere that you would like o

[2015-05-22 19:41] j-martens opened #149 "Apply better conventions to the public RRO Github repository for more visibility and a better product."

[2015-05-22 19:51] j-martens opened #150 "Improve package search and result capabilities"

[2015-05-22 22:55] sfweller commented on #53
Confirmed that 'install.sh' script has been updated as planned for 8.0.3 release.

[2015-05-22 22:55] #53 closed

[2015-05-25 12:26] j-martens opened #151 "MKL on Ubuntu looking for RRO under different directory"
Issue reported by user on googlegroup below:

-------------
Hello,

I installed RRO-3.2 on Ubuntu 15.04 64-bit, and then attempted to install the matching MKL library. Looks like the installation script wasn't able to find RRO-3.2 installed, and therefore refused to install MKL. At least in my system, I was able to trace it down to an error in the expected RRO installation path, lines 89 and 95 of

[2015-05-26 15:48] j-martens opened #152 "MKL Windows install doesn't work if CRAN R 3.2.0 is installed side by side"
Reported by Paolo on Windows 7 64-bit:

After installing RRO 3.2.0 and the MKL Math Libraries I tried to load the library RevoUtilsMath but RRO returned the error message saying the library didn't exist.

I found the library being installed in the wrong path (under the usual R3.2.0 rather than the correct RRO/R3.2.0) by the MKL Math Libraries installer.
After moving the library I tried again to lo

[2015-05-26 15:48] j-martens commented on #152
I responded with:
Hi Paolo,

This issue is due to the fact that for most R users, including yourself, the default library path points to your user folder instead of RRO. The MKL installer was expecting it to point to RRO.

To get MKL working on your system:

1. Please remove the file you copied and uninstall MKL. This way we'll start with a clean slate.

2. Reset the library path for the current s

[2015-05-26 15:48] j-martens commented on #152
Shouldn't the MKL Installer handle this so that it either prompts for the user lib path or makes it RRO?

[2015-05-26 15:53] j-martens commented on #152
It appears to be an issue on Ubuntu as well: https://groups.google.com/forum/#!topic/rropen/0jilphZF7E4

[2015-05-26 19:42] j-martens commented on #151
#152 is a duplicate.

[2015-05-26 19:43] j-martens commented on #45
@revodavid do we need a new card?

[2015-05-26 19:46] j-martens commented on #16
@revodavid Is this still an open issue?

[2015-05-26 19:50] j-martens commented on #34
@revodavid  Is this issue still relevant?

[2015-05-26 19:55] j-martens commented on #93
@revodavid @andrie  Is this still relevant? Do we need a new card?

[2015-05-26 20:06] j-martens commented on #37
@revodavid  what do we want to do next here? It was in the release notes for 8.0.3. What about 3.2.0 or 3.2.1?

[2015-05-26 20:09] j-martens commented on #39
Also see #85

[2015-05-26 20:09] j-martens commented on #85
Also see #39

[2015-05-26 20:15] revodavid commented on #37
It was included in the release notes for 3.2.0 and should be included in release notes for future versions until the issue is resolved.

[2015-05-26 22:02] j-martens opened #153 "3.2.1 Update Readmes"
Update and review legal info in readme.txt and readme.md for RRO

[2015-05-27 17:15] j-martens opened #154 "3.2.1 Updated fixed repository snapshot date"
Before July 1, update to a June date to check for any new package issues.

On July 1, set snapshot to July 1, 2015.

[2015-05-27 17:18] j-martens commented on #148
For all Linux distributions...

[2015-05-27 17:19] j-martens commented on #148
When finished on the build side, assign to Josee to document.

[2015-05-27 17:20] j-martens opened #155 "Source tarball job includes relocatable installs for 3.2.1"
Updated source bundle to capture the changes for the relocatable install.

[2015-05-27 17:21] j-martens commented on #147
When done on the build side, please assign to @j-martens to document. Thanks.

[2015-05-27 17:22] j-martens opened #156 "Remove openSUSE build 'experimental' label for 3.2.1"
Now that we'll be supporting SLES 10 and 11, expand testing to openSUSE and remove experimental label.

[2015-05-27 17:23] j-martens opened #157 "3.2.1 Cloudera parcel"
Add a Cloudera RRO parcel for 3.2.1 for use with RRE 7.4.1.

Add a matching Cloudera MKL parcel for 3.2.1 for use with RRE 7.4.1.

[2015-05-27 17:25] j-martens commented on #157
Assign to @j-martens to document once the build side is done.

[2015-05-27 17:40] j-martens commented on #127
This would fork the source.

[2015-05-27 17:42] j-martens commented on #130
@sfweller recommened we could have an automated test for this.

Backlogged to see if checkpoint gets bundled.

[2015-05-27 17:47] j-martens commented on #143
According to @nathansoz :
To make this change, the installer would need to be forked and diverge from the default installer.

[2015-05-27 17:50] j-martens commented on #134
Next step needed is the error message. When you are ready for text, @nathansoz , please ask @j-martens for input.

[2015-05-27 17:56] #150 closed

[2015-05-28 16:19] j-martens commented on #34
No user reports. Closing.

[2015-05-28 16:19] #34 closed

[2015-05-28 16:20] #89 closed

[2015-05-28 16:23] j-martens commented on #37
Add to release notes.

[2015-05-28 20:16] j-martens commented on #48
Add this to test suite.

[2015-05-28 20:33] j-martens commented on #152
The RRO 3.2.0 installer uses the same registry key as R 3.2.0. This may be the issue. A unique key should solve this.

[2015-05-29 19:27] j-martens opened #158 "Fixed repository snapshot date hardcoded in startup message"
[Reported in the GoogleGroup](https://groups.google.com/forum/#!topic/rropen/aSnf4vJf6aM):

_I've just installed Revolution R Open 3.2.0 on Windows 7 (64 bit).
Currently I prefer to use the most recent CRAN updates.  I've created an .Rprofile file in my home directory that contains:
options(repos = c(CRAN = "http://cran.revolutionanalytics.com"))
However, when I start RRO, I continue to get the me

[2015-05-29 19:28] j-martens commented on #158
It appears that the fixed repository date is hardcoded into the startup message.

[2015-05-29 19:38] j-martens opened #159 "SLES 11 Support for 8.0.3"
We also need to release 8.0.3 on SLES 11 for the Teradata release.

[2015-05-29 19:47] j-martens opened #160 "Update the source tar for 8.0.3 - now relocatable installs"
The source must be updated for the relocatable installs and updated on MRAN.

[2015-06-02 22:22] revodavid opened #161 "CRAN snapshot startup message not accurate if changed in .Rprofile"
User reports: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/rropen/aSnf4vJf6aM/V-E3U3GmrOMJ

[code]

Make the CRAN snapshot message in .Rprofile.site check for the use of an MRAN snapshot programatically and report a message like:

[code]

If the CRAN mirror is not an MRAN snapshot, print:

[code]

[2015-06-02 22:26] j-martens commented on #161
duplicate of #158

[2015-06-02 22:26] #161 closed

[2015-06-04 00:02] nathansoz commented on #145
Upgrading my estimate on this. I spent about an hour on this today and its a bit more complicated than meets the eye.

[2015-06-04 14:38] sfweller commented on #48
I tested 'Sublime Text 2' on my Mac running OS X 10.10.1 Yosemite and was easily able to reproduce the problem reported by the customer with the latest RRO 3.2.0 build for the Mac. I couldn't find a way to start RRO with the options '--interactive' and '--no-readline' from WITHIN sublime.

It looks to me like we will need a special build of RRO on the MAC that does not include the 'readline' libra

[2015-06-04 16:14] j-martens commented on #159
Depends on an RPM being developed by J Martenstein.

[2015-06-04 16:19] j-martens opened #162 "RRO doesn't work with SublimeText"
Related to https://github.com/RevolutionAnalytics/RRO/issues/48

[2015-06-04 16:24] j-martens commented on #148
Done for SLES 10 and 11.

[2015-06-04 16:26] j-martens commented on #37
This is a known issue that should be reported in the notes.  It is on package side.

[2015-06-04 16:51] j-martens commented on #156
Apparently, openSUSE has been tested upon for several releases now. It can be updated to say supported release now.

[2015-06-04 20:46] j-martens opened #165 "Relocatable RPMs for other Linux distributions"
Related to #148

After SLES, add for:

Ubuntu
CentOS

[2015-06-05 12:58] j-martens commented on #37
In every release, add the following to the release notes:

## Known Issues
+ `devtools::install_github` may fail with the error "error in running command" on Ubuntu. To work around this issue, set `options(unzip = 'internal')` before calling `install_githib`. (See #37 and https://github.com/hadley/devtools/issues/406 )

[2015-06-05 13:30] revodavid commented on #37
Note the typo above: install_githib

[2015-06-05 13:32] j-martens commented on #37
Good catch. Fixed.

[2015-06-05 16:39] j-martens commented on #48
@sfweller to meet with Nick about getting a build w/o readline for the mac.

[2015-06-05 17:53] sdgilley opened #166 "R GUI appears to hang with long calculation"
The following code appears to hang when run in the R GUI in Window RR) 3.2.0. The window is masked and the titlebar says (not responding).  Once the code completes, the window returns.  (This particular code runs much faster when MKL is installed, but even then you will see it momentarily appear to hang.)
[code]

![image](https://cloud.githubusercontent.com/assets/3650506/8011804/b8fc7c14-0b81-11e

[2015-06-05 19:57] j-martens commented on #155
Update the job to include the relocatable pieces please.

[2015-06-05 20:07] j-martens opened #167 "SLES 10 Support for 8.0.3"
We need to release 8.0.3 on SLES 10 for the Teradata release.

Depends on an RPM being developed by J Martenstein.

[2015-06-06 00:12] #152 closed

[2015-06-06 00:37] j-martens commented on #37
Doc'ed here: https://github.com/RA-Internal/MRAN-site/issues/197

[2015-06-06 02:52] j-martens commented on #166
Reproducible in CRAN R 3.2.1 although it takes longer for it to appear unresponsive and grayed out in CRAN R 3.2.1.

[2015-06-08 15:24] j-martens opened #168 "Build on all platforms with prerelease of R 3.2.1"
As of June 8th, the prerelease of R (R 3.2.1 beta) is now available. Start building and running regression tests using this pre-released version.

[2015-06-08 16:24] j-martens opened #169 "Nightly automated testing status show-up as pass/fail badges in Github"

[2015-06-08 16:28] #149 closed

[2015-06-08 17:55] j-martens commented on #165
We need to decide whether we document how to install elsewhere. Preferably, we could prompt users as part of the install script whether they want to pass a string to another location.

[2015-06-08 20:11] nathansoz commented on #134
I would like to propose a minor modification. The below code checks to see if RevoUtilsMath exists. If it doesn't exist, then it silently doesn't load RevoUtilsMath. If it does exist, then it uses the code @andrie wrote. Thoughts?

[code]

[2015-06-08 20:39] richcalaway commented on #134
installed.packages() can be a lot of overhead--it creates a (potentially huge) data frame with a bunch of info about the installed packages. A simpler check involves looking for the packages DESCRIPTION file:

if (!identical(system.file(package="RevoUtilsMath"), ""))

[2015-06-08 20:48] richcalaway commented on #134
I don't see the second part of the request:

•If not installed, display message about optional download instructions

[2015-06-08 20:50] nathansoz commented on #134
@j-martens and I discussed this and thought it might be slightly overbearing to print that message each time the user starts R. She was going to check in with @revodavid about whether it was needed.

If we do need it, we agreed it can be added with a separate pull request.

[2015-06-08 21:46] nathansoz commented on #145
Fixed in SVN/ParallelR/14836

[2015-06-08 22:29] nathansoz commented on #141
#171 pulls the beta sources. We still will need to pull release source when they are available.

[2015-06-08 23:46] richcalaway commented on #134
One more afterthought...we should probably move this whole batch of message code inside the if (!quiet) conditional, so that if users are trying to suppress startup messages they won't see this one.

[2015-06-08 23:49] sfweller commented on #134
Nathan, your proposed R function looks good to me, but I'm not sure when we would be running/checking this code?  Would this be something that the installer runs at install time or would this be checked when launching the RRO?

[2015-06-08 23:51] nathansoz commented on #134
@richcalaway Wouldn't that make it so that people who disable startup messages wouldn't have RevoUtilsMath loaded on startup?

[2015-06-09 00:11] richcalaway commented on #134
True enough, but the two items are fully separable. You can load the package without printing the message. Something like this should work

local({

  if(Sys.info()["sysname"] == "Darwin"){
    hw.ncpu <- system('sysctl hw.ncpu', intern = TRUE)
    ncores <- as.numeric(sub("hw.ncpu: ", "", hw.ncpu))
    msg <- "Multithreaded BLAS/LAPACK libraries detected. Using %d cores for math algorithms."
  }

[2015-06-09 01:32] j-martens commented on #141
As #171 states: when R goes live we can simply swap the R-src directory, leaving everything else the same.

[2015-06-09 05:30] nathansoz commented on #134
Hey Rich, I took your suggestion with a small modification. My reading of the docs on local() seems to make me think that things called within it don't persist. So the loading of RevoUtilsMath wouldn't persist in the code you wrote above... If this isn't the case let me know! Otherwise, I wrote some code the preserves the separate local() blocks that @andrie wrote above but also suppresses console

[2015-06-09 22:31] j-martens opened #173 "Update fixed repository date to June 10 for early testing"
We'll update again on July 1, 2015.

[2015-06-09 22:40] j-martens commented on #167
@richcalaway  Can you provide any details on whether the RPM from Justin is still the way to go? Sounded like we were headed in another direction today.

[2015-06-10 15:44] mtelesha commented on #37
Just wanted to also state like dkarlov reported on March 12 that OpenSUSE has an issue. I am using OpenSUSE 13.2 and it failed.

options(unzip = 'internal') did fix it for OpenSUSE 13.2

[2015-06-10 17:57] j-martens opened #174 "RRO for Windows should still write to the R-core registry key"
RRO 3.2.1 should write to both its own custom key (as it does now) and still put the path to R in the R-core registry key so that it behaves as a drop in replacement to CRAN R in RStudio and similar products as well as on the command line.

[2015-06-10 18:57] revodavid commented on #158
Unfortunately, we can't adapt the message if the user sets the repository in .Rprofile, because `.Rprofile` runs *after* `.Rprofile.site`.

The best we can do is to improve the message to emphasize that this is the default (which may have been overruled by the user.)

[2015-06-10 19:14] #148 closed

[2015-06-10 20:17] j-martens commented on #158
Ready for QA.

[2015-06-11 02:50] j-martens commented on #37
Thank you, @mtelesha
We'll make note of it in the release notes.

[2015-06-11 15:23] j-martens commented on #151
@sfweller to see why it is installing to `lib` instead of `lib64` and let @nathansoz know.

[2015-06-11 15:37] j-martens opened #175 "Important dates and info read programmatically into RRO"
Add a build configuration file or include `RevoUtils` package.
- checkpoint package date
- snapshot date
- other variables (versions and so forth)

Post 3.2.1 task
@richcalaway @revodavid @sdgilley

[2015-06-12 20:31] j-martens commented on #159
Ready for testing here: http://devstaging.mran.io/archives/#rro803

[2015-06-15 22:43] j-martens commented on #173
Addressed in #177

[2015-06-15 22:43] #173 closed

[2015-06-15 22:44] #145 closed

[2015-06-15 22:44] #156 closed

[2015-06-16 19:50] sfweller commented on #159
Tested the installer on SLES11 and ran our basic IOQ tests. All of the critical tests passed, so I am closing this bug.

[2015-06-16 19:50] #159 closed

[2015-06-16 20:29] sfweller commented on #158
Still waiting for a new build of RRO 3.2.1 for Windows - not available yet.

[2015-06-16 21:28] sfweller commented on #151
I see what the customer is getting at, but I was not able to reproduce the error or problem they were seeing when trying a fresh install on a Ubuntu 1504 system.  The MKL installer worked correctly as far as I can tell and I verified that it copied the mkl files to the directory:
/usr/lib64/RRO-3.2.0/R-3.2.0/lib/R/lib
The benchmark tests also ran successfully, after the install.

The RRO installat

[2015-06-17 16:28] sfweller commented on #134
I am waiting for a new Windows build of the RRO to retest this issue, as it is tied to a number of other RRO issues.

[2015-06-21 23:45] j-martens opened #178 "MKL installers for RRO 3.2.1"
We need the updated MKL installers.

[2015-06-23 14:36] sfweller commented on #158
Got new Windows build last night - retesting issue today.

[2015-06-23 22:34] sfweller commented on #158
Original issue fixed in 6/22/15 Windows RRO 3.2.1 installer.

[2015-06-23 22:34] #158 closed

[2015-06-24 18:49] j-martens commented on #141
Check all platforms please.

[2015-06-24 18:49] #168 closed

[2015-06-24 18:49] #167 closed

[2015-06-25 21:56] daleq opened #181 "RRO 8.0.3 Win - uninstall leaves 'checkpoint' directory"
After uninstalling RRO 8.0.3 for Windows, the directory
C:\Program Files\RRO\R-3.1.3\library\checkpoint
is still populated with files/directories.

[2015-06-25 23:57] j-martens commented on #174
Ready for QA now.

[2015-06-29 02:53] j-martens opened #182 "Document manual tests for RRO"
Create a document in which we record every manual test that should be run for RRO.

Eventually, some of these tests will get automated.

[2015-06-29 14:42] revodavid opened #183 "Support DrawingML format for output"
From r-devel on June 29

[code]

[2015-06-30 22:29] nathansoz commented on #155
If we use the github zip file then this will be included.

[2015-06-30 22:30] nathansoz commented on #160
We can use the github source tarbal and link to the SLES 10/SLES11 branches to support this.

[2015-07-01 23:51] j-martens commented on #155
Check source in github.

[2015-07-01 23:56] nathansoz commented on #154
Fixed in 1a709013de23f304c33a189fe98b5a22c139ea23

[2015-07-02 00:49] j-martens commented on #153
Still needed:
+ Update this email address in the Readme.txt:  " comments and suggestions to the
Revolution R Open team at Revolution Analytics by emailing
open@revolutionanalytics.com."

+ https://github.com/RevolutionAnalytics/RRO/blob/dev/README.md Needs to be updated with new build information for SLES

[2015-07-02 00:50] j-martens commented on #153
@revodavid - is this still the right email address and info?
Revolution R Open team at Revolution Analytics by emailing
open@revolutionanalytics.com."

[2015-07-02 06:52] revodavid commented on #153
That email address still stands, for now.

From: j-martens
Reply-To: RevolutionAnalytics/RRO
Date: Thursday, July 2, 2015 at 2:50 AM
To: RevolutionAnalytics/RRO
Cc: David Smith
Subject: Re: [RRO] 3.2.1 Update Readmes (#153)

@revodavid<https://github.com/revodavid> - is this still the right email address and info?
Revolution R Open team at Revolution Analytics by emailing
open@revolutionanalytics.

[2015-07-02 12:21] j-martens commented on #153
README.md still needs to be updated with new build information for SLES builds.

[2015-07-02 15:16] #147 closed

[2015-07-02 15:28] j-martens opened #184 "Wrong snapshot date in OS X 3.2.1"
The build from last night was supposed to have the 7.1 snapshot date. After I installed on OS X, the startup message said:

Revolution R Open 3.2.1
Default CRAN mirror snapshot taken on 2015-06-15
The enhanced R distribution from Revolution Analytics
Visit mran.revolutionanalytics.com/open for information
about additional features.

It should say 2015-07-01.

Either is was not updated in the versi

[2015-07-02 16:02] j-martens commented on #184
Fix to rprofile.site checked in c646e00c7c9e9c23504428b140a3dc53b59d1288

[2015-07-02 16:02] #184 closed

[2015-07-02 18:59] j-martens opened #185 "Logs for Nightly builds to devstaging"
It would be nice to see a log for the nightly build-all script were we see any build errors installer-by-installer.

Also, build is at almost 8 hours now and not done. How can we tell where the hangups are?

[2015-07-07 05:45] vikasgupta1812 opened #186 "Please include steps to install on Raspberry Pi"
Please include steps to install on Raspberry Pi. I am trying to build it from source with limited success.

[2015-07-07 19:38] revodavid opened #187 "Use HTTPS to download packages by default"
For security, RRO should always download packages via HTTPS.

Change the default CRAN mirror to `https://mran.revolutionanalytics.com/snapshot/SNAPSHOTDATE`

Configure R to allow use of HTTPS to download files (required for use of download.packages with an HTTPS mirrror):

Windows: `options(download.file.method = "wininet")`
OS X and Linux: `options(download.file.method = "libcurl")`
(Note: libcur

[2015-07-08 16:17] nathansoz commented on #186
Hi @vikasgupta1812,

Can you elaborate on what you have done to try to build? If you could post the console out that you get when you try to build, as well as the commands you are running, that would be great!

[2015-07-08 16:28] #185 closed

[2015-07-08 18:42] #9 closed

[2015-07-08 18:43] vikasgupta1812 commented on #186
Hi Nathan, I was able to finally install it successfully yesterday. It
involved installing lot of libraries. I am still working on installing
RStudio, its a very slow process.

On Wed, Jul 8, 2015 at 11:17 AM, Nathan Sosnovske <notifications@github.com>
wrote:

[2015-07-08 18:44] j-martens commented on #151
Rich will be trying to reproduce.

[2015-07-08 18:46] #182 closed

[2015-07-08 18:47] #186 closed

[2015-07-08 18:49] j-martens commented on #181
Related to https://github.com/RA-Internal/MRAN-site/issues/220

[2015-07-08 18:50] #166 closed

[2015-07-08 18:53] j-martens commented on #130
Related to https://github.com/RA-Internal/MRAN-site/issues/220

[2015-07-08 18:55] j-martens commented on #143
@richcalaway  can you please add some notes?

[2015-07-08 18:57] j-martens commented on #142
Related to https://github.com/RA-Internal/MRAN-site/issues/220

[2015-07-08 18:57] #142 closed

[2015-07-09 16:36] sfweller commented on #134
Confirmed that message appears now on startup of RRO on all supported platforms.

[2015-07-09 16:36] #134 closed

[2015-07-13 15:51] j-martens opened #188 "RRO 3.2.1 for Windows needs a signed certificate"

[2015-07-13 15:56] j-martens commented on #174
Andrie reports that he cannot find the registry keys when he downloads the Windows version of 3.2.1 on devstaging today. The directories for R 3.2.1 are missing too.

Please note that he has chosen to install into a custom location.

![image001](https://cloud.githubusercontent.com/assets/8481597/8654073/c14fba0e-294d-11e5-9e6f-2592f1be2c3e.png)

[2015-07-13 17:06] nathansoz commented on #174
Hmm I did an install from Jenkins and it looks fine:

![rro](https://cloud.githubusercontent.com/assets/6821708/8655531/a0f033b2-2946-11e5-819f-56564f51d223.PNG)

However, when I tried to grab the version on devstaging I noticed that the URL was pointing to: https://mran.revolutionanalytics.com/install/RRO-3.2.1-win.exe

I don't think that is the correct URL... it 404s, so I'm not sure how/when @a

[2015-07-13 17:34] j-martens commented on #174
I just updated those URLS to use HTTPS to test something. Those links won't work.
Andrie downloaded from earlier using devstaging.mran.io/install/RRO-3.2.1-win.exe
- Josée

Empowering enterprises to easily and cost-effectively build high-scale analytics solutions leveraging R

Interested in solving Big Data, Distributed Systems or Machine Learning problems? We're hiring...<http://aka.ms/mljobs-int

[2015-07-13 17:36] nathansoz commented on #174
Ok, well I need more info from @andrie as to how he installed. Specifically, was he an administrator and did he have the checkbox checked to create registry keys (should be on by default). I just did a custom path install on a clean system and it worked ok.

[2015-07-13 17:45] andrie commented on #174
Yes, I was an administrator (although this shouldn’t be necessary).

Yes, I left all defaults as they were, except installing into c:/rro rather than the default location. I also re-installed, this time specifically testing if the checkbox was ticked. Finally, the MKL installed, so I am assuming this means the keys are picked up from somewhere?

From: Nathan Sosnovske [mailto:notifications@github.

[2015-07-13 18:23] nathansoz commented on #174
Being an administrator is needed for the keys to be installed where you are looking (HKLM is a system-wide keystore).

If the MKL installed that means that the keys were picked up... can you try restarting regedit and seeing if they exist.

[2015-07-13 18:46] nathansoz commented on #187
This requires a build change. Libcurl is not a default package on most ubuntu distributions, so it needs to be added to the build systems.

[2015-07-13 20:28] andrie commented on #174
I think I see what is happening now.

R and RRO uses the same key (IIUC) - so when I installed R after installing RRO, the registry keys disappear.

This doesn't seem optimal.

Can we install the RRO key under /R-core/RRO, for example?

[2015-07-13 20:30] revodavid opened #189 "Package bundler"
Create a system to make it possible to bundle R packages with RRO, and install them with RRO.

Suggested implementation:
* Create a "package manifest" file, specifying packages to include
 * Manifest file specifies for each package:
  * Package Name
  * Location of source bundle for package (e.g. `http://mran.revolutionanalytics.com/snapshot/2015-07-13/src/contrib/checkpoint_0.3.10.tar.gz`)
* Crea

[2015-07-13 20:41] nathansoz commented on #174
This was the desired behavior requested by the product team. I think the driving factor was RStudio picking up on the latest version of R installed (be it RRO or R)

[2015-07-13 20:55] andrie commented on #174
My point is that RStudio doesn't pick it up.

To get RStudio to recognize RRO, I need to manually point to the file location where RRO is installed.

So, I agree with the product requirement, but I think we should reconsider the implementation options.

Including @revodavid

[2015-07-13 20:56] nathansoz commented on #174
My understanding is that RStudio picks up whatever was installed last. So if you install RRO and then R it will pick up R. If you installed R and then RRO, it will pick up RRO.

My understanding is that you are seeing the above behavior.

[2015-07-13 20:58] andrie commented on #174
Yes, precisely.  That is undesired behaviour, in my view.

If we design the key to look slightly different, then GNU R and RRO will not interfere with one another.

[2015-07-13 21:04] nathansoz commented on #174
How the feature is working now is a consequence of the line in @j-martens comment above: RRO 3.2.1 should write to both its own custom key (as it does now) and still put the path to R in the R-core registry key

At one point I had changed the registry key we wrote to R-core to have RRO in the name and I was told that was not what we wanted to do and that we wanted the overwriting behavior.

[2015-07-13 21:06] andrie commented on #174
Then we have to take the debate back to the dev team.

I agree with your original design.

This is what I came up with, and it works for me:

![registry](https://cloud.githubusercontent.com/assets/479998/8660819/25a71792-29ab-11e5-8068-f1261363844a.PNG)

![rstudio](https://cloud.githubusercontent.com/assets/479998/8660838/3b18f7d0-29ab-11e5-8fe4-ac620dc47fc9.PNG)

[2015-07-13 21:07] revodavid commented on #174
This is intended behavior. The desired behavior is that RRO modifies the R registry key to point to the RRO executable.

If a user installs RRO and then runs RStudio, it will pick up RRO.
If a user *then* installs CRAN R, RStudio will pick up CRAN R.

This is as intended.

# David

--
David M Smith <davidsmi@microsoft.com<mailto:davidsmi@microsoft.com>>
R Community Lead, Revolution Analytics (a Mi

[2015-07-13 21:09] andrie commented on #174
RStudio in fact picks up "all" installations of R, including all old installations. This is why R and RRE easily sits side by side.

Somehow RStudio uses the last installed version as the default.

However, RRO breaks this paradigm, since it doesn't show up in the list of installed versions.

In my view, this is highly undesirable.

And it is easy to fix.

[2015-07-13 21:12] revodavid commented on #174
I suspect RStudio looks at all *distinct* versions of R, but RRO and R can both be installed with the same R version. That’s something RStudio probably doesn’t recognize, so we’ll have to accept that it will use the last installed R or RRO of a specific R engine number.

# David

--
David M Smith <davidsmi@microsoft.com<mailto:davidsmi@microsoft.com>>
R Community Lead, Revolution Analytics (a Micr

[2015-07-13 21:21] andrie commented on #174
My point is we don't have to accept this.

Both Nathan and I have a solution that works in the way that every R user will recognize and expect.

Please see my screen shots.  I defined both versions in the registry, and RStudio recognises both.

[2015-07-14 00:19] j-martens commented on #189
Associated with
#181
#130
https://github.com/RA-Internal/MRAN-site/issues/220

[2015-07-14 01:13] richcalaway opened #190 "Could not install SuppDists package on openSUSE because of missing g++"
Using an openSUSE image from Azure, I could install and run RRO, but when I tried to install the SuppDists package to run the R benchmarks, I get a message

make: g++: Command not found
make: *** [dists.o] Error 127
ERROR: compilation failed for package 'SuppDists'
* removing '/usr/lib64/RRO-3.2.1/R-3.2.1/lib64/R/library/SuppDists'

Adding g++ with the following command run from a root shell did t

[2015-07-14 01:34] j-martens commented on #190
I believe we install gcc for other platforms. Can we do it for openSUSE as well?

[2015-07-14 14:09] revodavid commented on #190
The right solution may be to make GCC/G++ install dependencies, if that's supported by the openSUSE package manager we use.

[2015-07-14 14:11] nriesland commented on #190
openSUSE package manager support installing  gcc++

From: David Smith [mailto:notifications@github.com]
Sent: Tuesday, July 14, 2015 10:10 AM
To: RevolutionAnalytics/RRO
Subject: Re: [RRO] Could not install SuppDists package on openSUSE because of missing g++ (#190)

The right solution may be to make GCC/G++ install dependencies, if that's supported by the openSUSE package manager we use.

—
Reply

[2015-07-14 17:24] richcalaway commented on #190
gcc is there; g++ was missing...

[2015-07-14 17:28] richcalaway commented on #174
But would this work with, say, RExcel?

From: Andrie de Vries [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 2:22 PM
To: RevolutionAnalytics/RRO
Subject: Re: [RRO] RRO for Windows should still write to the R-core registry key (#174)

My point is we don't have to accept this.

Both Nathan and I have a solution that works in the way that every R user will recognize and expect.

Please

[2015-07-14 18:55] andrie commented on #174
That is a very important question and should be answered once we evaluate this.

@revodavid and I discussed this last night. I think I have persuaded him that this is important enough to spend some time on in a future design cycle.

[2015-07-14 19:56] j-martens commented on #188
Both Andrie and David S had issues installing on Windows.

When DS downloaded today and attempted to install on Windows. He got the following warning and could not install.

"Windows SmartScan prevented an unrecognized app from starting. Running this app might put your PC at risk"

[2015-07-14 20:37] nathansoz commented on #188
Signtool.exe was missing from the new windows build server. I've dropped it in place and kicked off a build. I've verified that the new RRO binary on devstaging is signed.

[2015-07-14 20:37] #188 closed

[2015-07-14 21:49] revodavid opened #191 "Multithreading message reports too many cores on Mac"
On my Mac, starting 3.2.1 (build 29) gives this message:

[code]

However, the System Report says:
Number of Processors: 1
Total Number of Cores: 4

[2015-07-14 21:50] revodavid commented on #191
Fix not required until after 3.2.1 release.

[2015-07-15 16:30] j-martens commented on #141
Tracking in testing spreadsheet with @richcalaway

[2015-07-15 16:30] #141 closed

[2015-07-15 16:31] j-martens commented on #178
Tracking in testing spreadsheet by @richcalaway

[2015-07-15 16:31] #178 closed

[2015-07-15 16:31] j-martens commented on #154
Tracking in testing spreadsheet by @richcalaway

[2015-07-15 16:31] #154 closed

[2015-07-15 16:40] j-martens commented on #155
Tracking in testing spreadsheet with @richcalaway

[2015-07-15 16:40] #155 closed

[2015-07-16 17:45] revodavid opened #192 "AzureMLclient package to interface with Azure ML datasets"
Create and bundle with RRO a package to interface R with datasets published to Azure ML.

Python has an equivalent package: https://github.com/Azure/Azure-MachineLearning-ClientLibrary-Python

This package can be used directly by R users, and will also be used to support the [Get Data Access Code](http://blogs.technet.com/b/machinelearning/archive/2015/03/19/azure-ml-now-with-even-more-python.aspx

[2015-07-16 17:51] sfweller commented on #190
I think for now, we should just document the workaround for the next release:
(unless you disagree Josee):

zypper install gcc-c++

[2015-07-16 17:51] sfweller commented on #190
Confirmed that this resolves the problem and allows SuppDists to be installed.

[2015-07-16 21:27] sfweller commented on #191
The RRO is reporting the number of physical and virtual cores here, so in this case the total reported by R is 8 cores.

[2015-07-17 15:47] j-martens opened #193 "Missing Uninstall Step for Ubuntu"
Reported by: @sfweller
On uninstalling on Ubuntu, I got the following:

$ sudo dpkg --purge rro-3.2.1
(Reading database ... 70153 files and directories currently installed.)
Removing rro-3.2.1 (3.2.1-2) ...
Purging configuration files for rro-3.2.1 (3.2.1-2) ...
dpkg: warning: while removing rro-3.2.1, directory '/usr/lib64/RRO-3.2.1/R-3.2.1/lib/R/library' not empty so not removed
dpkg: warning: w

[2015-07-17 15:47] j-martens commented on #193
@sfweller Is this Ubuntu only?

[2015-07-17 16:02] j-martens commented on #190
Listed as a manual install step for 3.2.1. However, needs to be done by the installer in our next release.

[2015-07-17 16:05] j-martens commented on #174
Things to stay as they are for RRO 3.2.1 release. Re-evaluate for 3.2.2 or beyond.

[2015-07-17 16:19] j-martens opened #194 "Re-evaluate how registry keys are written for RRO."
Re-evaluate how registry keys are written.

R and RRO uses the same key (IIUC) - so when  R is installed after installing RRO, the registry keys disappear. Then, to get RStudio to recognize RRO, one must manually point to the file location where RRO is installed. If we design the key to look slightly different, then GNU R and RRO will not interfere with one another.

RStudio in fact picks up "all"

[2015-07-17 20:29] #174 closed

[2015-07-21 02:18] j-martens opened #196 "Add Cloudera parcel to every release"
We added a Cloudera parcel download to 8.0.3. Evaluate whether we should have it in each release (3.2.1 and beyond).

[2015-07-21 16:37] #187 closed

[2015-07-21 16:50] j-martens opened #197 "Add doc note about uninstall"
Add note to the uninstall instructions warning of packages left behind after uninstall  (checkpoint, RevoMathUtils, …)

[2015-07-21 16:51] j-martens commented on #151
@richcalaway not able to reproduce.

[2015-07-21 22:25] #197 closed

[2015-07-22 15:26] revodavid opened #198 "Support for Windows 10"
Add Windows 10 to the list of supported platforms.

[2015-07-22 19:49] revodavid opened #199 "Review how RRO links with libraries on Mac"
RRO 3.2.1 for Mac is 44.5 Mb, but R 3.2.1 is 72.5 Mb. There is a difference in the statically linked binaries for the two builds.

Also, `capabilities()` on RRO 3.2.1 reports not being able to find an X11 library.

Review how RRO for Mac is built and make recommendations for libraries that should/should not be statically linked.

[2015-07-22 19:51] revodavid commented on #199
This homebrew recipe for R may be helpful: https://github.com/Homebrew/homebrew-science/blob/master/r.rb

[2015-07-22 20:02] revodavid opened #200 "Warning from capabilities() on Mac"
Calling `capabilities()` from R 3.2.1 on Mac (and possibly older versions) triggers a warning about X11 libraries:

[code]

Calling `capabilities("libcurl")` does not trigger the warning. `capabilities("X11")` does trigger the warning. Note that the warning is only issued once per session.

[2015-07-23 01:09] #193 closed

[2015-07-23 16:24] j-martens commented on #181
Handled in the documentation now.

[2015-07-23 16:24] #181 closed

[2015-07-23 17:39] #153 closed

[2015-07-23 17:40] j-martens opened #202 "Update README.md on github to reflect building on ALL supported OS"
SLES build instructions are not present. README should be updated to reflect all of these.

[2015-07-23 17:41] j-martens opened #203 "Set snapshot to aug 27, 2015"
Update the fixed snapshot date to Aug 27, 2015 for this release.

[code]

[2015-07-23 17:42] j-martens opened #204 "Set R Engine to 3.2.2"
The release of 3.2.2 ("Fire Safety") is scheduled for August 14, 2015. Release candidate tarballs will be made available during the week up to the release.

2015-08-04: START (3.2.2 beta)
2015-08-07: CODE FREEZE (3.2.2 RC)
2015-08-14: RELEASE (3.2.2)

For RRO 3.2.2, we need to align with the new R engine version.

[2015-07-23 17:46] j-martens opened #205 "Make all linux distribution relocatable"
Ubuntu and Centos are not yet relocatable. It would be nice for all RRO Linux distros to be relocatable.

[2015-07-24 15:15] j-martens opened #206 "Create job to run benchmarks again all platforms nightly"
Create a nightly Jenkins job to run Andrie's and the Urbanek tests against every platform automatically.

Send results to Azure to detect any performance drops or unexpected gains. Send back a badge to Jenkins dashboard as "expected", "too fast", "too slow". And trigger an email when too fast or too slow.

[2015-07-24 18:11] j-martens opened #207 "RRO Welcome Screen has http:// instead https:// address"
![welcome](https://cloud.githubusercontent.com/assets/8481597/8881411/363d3ce6-3205-11e5-8382-3ff273675e57.png)

[2015-07-24 19:02] j-martens commented on #93
Not a bug.

[2015-07-24 19:02] #93 closed

[2015-07-24 19:08] j-martens commented on #143
related to #194

[2015-07-24 19:09] j-martens commented on #143
Come up with an uninstaller that works with the bundling efforts.

[2015-07-24 19:10] j-martens opened #208 "Create Windows uninstaller for RRO"
It is relatively important that we create a good uninstaller as this will be required for SQL Server.

Also related to #194 and #143

[2015-07-24 19:12] j-martens commented on #151
Unreproducible.

[2015-07-24 19:12] #151 closed

[2015-07-24 19:14] j-martens commented on #205
duplicate.

[2015-07-24 19:14] #205 closed

[2015-07-24 19:19] j-martens commented on #199
Related to #200

[2015-07-24 19:26] j-martens commented on #48
Related to #199

[2015-07-24 19:27] #162 closed

[2015-07-24 21:32] j-martens opened #209 "Send benchmark results to Azure to detect unexpected results"
Send results to Azure to detect any performance drops or unexpected gains. Send back a badge to Jenkins dashboard as "expected", "too fast", "too slow". And trigger an email when too fast or too slow.

Related to #206

[2015-07-25 13:30] j-martens opened #210 "Prevent installation on incompatible Mac platforms"
The installer should check if the platform is supported and abort the installation if it is not. The goal is to prevent issues like #126

[2015-07-25 13:31] j-martens opened #211 "Prevent installation on incompatible Linux platforms"
The installer should check if the platform is supported and abort the installation if it is not. The goal is to prevent issues like #126

[2015-07-27 08:37] andrie commented on #192
The package lives at https://github.com/RA-Internal/azureml

[2015-07-27 18:44] j-martens opened #212 "Update Linux installer to preserve old R scripts upon install"
## ACTION 1: UPDATE INSTALLER.

RRO doesn't overwrite the R installation on any unix platform. But it does overwrite the sym link that identifies the default R installation during the make install step.

Going forward, we should check for R scripts under `/usr/bin/r` during a Linux installation.  If an existing R script is detected, we now want to move that file under a new directory called `/usr/

[2015-07-27 18:45] j-martens commented on #212
Related to https://github.com/RA-Internal/MRAN-site/issues/244

[2015-07-28 20:54] andrie opened #213 "Ensure libxml2 is available in RRO builds"
~~~The new version of `checkpoint` imports the `xml2` package (https://cran.r-project.org/web/packages/xml2/index.html), with a dependency on the `libxml2` C package.~~~

[code]

[2015-08-03 17:34] LGSuresh opened #214 "MKL Install Error"
I installed R-3.2.1 under a User folder. Then I tried to install MKL (RevoMath - 3.2.1) and I get the following error:
"RRO 3.2.1 could not be detected. The installer will not be able to detect RRO if RRO was installed with the option to "Save version number in registry" unchecked. Please install RRO with this option enabled."

I had the "Save version number in registry" checked when I did the RRO

[2015-08-03 18:47] j-martens commented on #214
Hello,
Thanks for your report. Another great place for questions is our [Google Group forum](https://groups.google.com/forum/#!forum/rropen).

In fact, [here is a thread](https://groups.google.com/forum/#!searchin/rropen/registry/rropen/5FSI-Djh4gs/B2U-u8CVCwAJ) similar to your experience.  I think they rebooted and then it worked.

Can you [post your question here](https://groups.google.com/forum

[2015-08-03 19:02] LGSuresh commented on #214
I had rebooted multiple times. But that didnt seem to help. I am using Windows 7. Let me post the question in the google forum.

[2015-08-03 20:36] j-martens commented on #214
Hello again, I just reread your original post. Did you install R 3.2.1 from CRAN or RRO 3.2.1? Our MKL installer is customized for RRO only. Thanks.

[2015-08-03 20:57] LGSuresh commented on #214
I installed RRO 3.2.1

Sent from my iPhone

[2015-08-03 22:48] sfweller commented on #214
Hello - this is a known issue when installing on Windows as a non-administrative user.
The MKL installer requires admin privleges on Windows systems and will fail if you install to a user-specific folder.

The workaround is to have someone with administrator privileges perform the install. Unfortunately, their is not a better workaround for this problem at the moment.

Stephen Weller
Revolution R

[2015-08-04 00:15] j-martens opened #215 "Allow MKL installs as a non-administrative user."
When a user installs MKL on Windows without administrator privileges, the MKL install fails.

This is a known issue when installing on Windows as a non-administrative user.
The MKL installer requires admin privileges on Windows systems and will fail if you install to a user-specific folder.

Fix the installer so it no longer requires an admin install.

[2015-08-04 02:21] LGSuresh commented on #214
Thank you so much for your reply. You are right. I do not have administrator privileges to my system.

Sent from my iPhone

[2015-08-05 18:42] j-martens opened #216 "Prototyping new bundled installer"

[2015-08-05 18:43] j-martens commented on #216
Related to #194

[2015-08-05 18:44] #198 closed

[2015-08-05 18:46] j-martens commented on #216
duplicate

[2015-08-05 18:46] #216 closed

[2015-08-05 18:47] #130 closed

[2015-08-06 16:05] #214 closed

[2015-08-06 18:39] andrie commented on #213
`checkpoint` no longer imports `xml2`.

Instead, we use `libcurl` to read https sites.

Thus the requirement is to ensure that RRO is bundled with `libcurl`

[2015-08-07 02:05] #213 closed

[2015-08-09 01:59] rafsanm opened #217 "BUILD_ID not found error"
Tried building v3.2.1. It builds successfully and is functional, but I keep seeing this at startup :

R is a collaborative project with many contributors.
Type 'contributors()' for more information and
'citation()' on how to cite R or R packages in publications.

Type 'demo()' for some demos, 'help()' for on-line help, or
'help.start()' for an HTML browser interface to help.
Type 'q()' to quit R.

[2015-08-09 02:12] revobuil commented on #217
Try changing BUILD_ID to "1" (including the quotes). We are currently fixing the build system to make it easier for people to consume. This is one artifact that I'll be sure to fix in the next iteration.

Sent from my Windows Phone
________________________________
From: rafsanm<mailto:notifications@github.com>
Sent: ‎8/‎8/‎2015 6:59 PM
To: RevolutionAnalytics/RRO<mailto:RRO@noreply.github.com>
Sub

[2015-08-09 02:24] rafsanm commented on #217
Yes this works (I previously built using "N/A").

[2015-08-09 13:29] #217 closed

[2015-08-09 13:36] j-martens commented on #207
Also applies to the URLS on Windows:

Welcome to the Revolution R Open Installer

Revolution R Open is an enhanced distribution of R from Revolution Analytics.
For information about Revolution R Open, visit http://mran.revolutionanalytics.com.

Revolution R Open is based on R, Copyright (C) The R Foundation for Statistical Computing.
Visit www.r-project.org for information about the R Project.
R i

[2015-08-18 07:53] teuffy commented on #199
HI

Here what I got when running X11() within osx 10.11 and RRO 3.2.1 (no problem with R 3.0.3)

Error in x11() : X11 module cannot be loaded
In addition: Warning message:
In x11() :
  unable to load shared object '/Library/Frameworks/R.framework/Resources/modules//R_X11.so':
  dlopen(/Library/Frameworks/R.framework/Resources/modules//R_X11.so, 6): Library not loaded: /usr/local/lib/libpixman-1.0.

[2015-08-18 15:25] richcalaway commented on #208
Per Nathan, with the bundling of packages, the standard uninstall procedure will now remove everything we install, so there is no need for a separate uninstaller.

[2015-08-19 15:35] sfweller commented on #199
This is a known problem that we plan to fix for our next release. For now I would recommend that you use a 'quartz()' graphics device for the Mac. You can use either png() or jpeg() or cairo()/ps() for your graphics output.

Stephen Weller
Revolution R Open Technical Support

[2015-08-19 18:21] j-martens commented on #157
No longer tracked here.

[2015-08-19 18:21] #157 closed

[2015-08-19 18:21] j-martens commented on #196
No longer tracked here.

[2015-08-19 18:21] #196 closed

[2015-08-19 18:38] j-martens opened #218 "IpSolve crashes on RRO due to MKL"
The function “lp” in the package “lpSolve” crashes on RRE (and possible RRO - to be confirmed) and does not in CRAN R, and the cause is the MKL.

We need to find what inside the package was causing MKL to crash.

==========================================================
**Here are the related emails:**

From: Brian Pinkney

David,

Here is the information from RCurl and lpSolve.

lpSolve – Segmen

[2015-08-19 19:09] j-martens commented on #208
Still needed due to https://github.com/RevolutionAnalytics/RRO/issues/143

[2015-08-19 19:19] j-martens commented on #127
Not applicable to Windows at this time.

[2015-08-21 04:07] j-martens opened #219 "Make libcurl is a dependency of RRO."
Make libcurl  7.28 or later a dependency in the R.spec file.

libcurl 7.28 or later must be on the system in order for RRO to install.

Check that CentOS 5 and older version can do this.

[2015-08-21 17:12] j-martens commented on #219
Nathan reports:

Requiring the version of libcurl that you mentioned on CentOS 5/6 and SLES10 is a non-trival task. It is possible that we may be able to compile the newer version of libcurl on these platforms and statically link against it, but my schedule does not permit me the time to work on that issue before the release (especially with the more serious issues, like how we are linking librari

[2015-08-24 16:39] j-martens opened #220 "RRO 3.2.2 Windows Installer has incorrect filename."
Currently the artifact is R-3.2.2-win.exe.

Should be, RRO-3.2.2-win.exe.

The download page is expecting a file by that name.

[2015-08-24 17:16] j-martens opened #221 "RRO 3.2.2 Windows Installer welcome screen says 3.2.1"
The installer still says RRO for Windows 3.2.1. Should says 3.2.2.

[2015-08-24 17:17] j-martens opened #222 "RRO 3.2.2 Windows Installer: certificate not Signed"
When launched, the installer throws up an error about an unknown publisher.

[2015-08-24 19:41] richcalaway commented on #203
Created a pull request to update this to Aug 24 for now; will update to Sept 1 next week.

[2015-08-25 01:02] richcalaway commented on #221
This is fixed now...

[2015-08-25 18:46] richcalaway commented on #222
I'm not seeing this behavior...

[2015-08-25 20:28] j-martens commented on #222
I am still seeing this behavior with today's build.

[2015-08-25 20:31] j-martens opened #225 "RRO 3.2.2 Windows Installer: monkey icon missing in apps list"
The monkey icon is not showing up in the Apps page.

[2015-08-25 20:37] j-martens opened #226 "RRO 3.2.2 Windows: Readme is not a text document"
The text file version of the readme file is not present like it was in 3.2.1.

[2015-08-25 20:38] nathansoz commented on #222
The installer is not currently being signed and likely will not be until my return.

[2015-08-25 21:47] j-martens opened #227 "Update MKL Installer to prompt for RRO path if registry key not found"
In response to https://groups.google.com/forum/#!topic/rropen/_nQU8ZU9Ad8, we'd like to update the MKL installer for increased flexibility, such as running RRO from a pen drive.

Desired change to MKL installer:

When the path to RRO is not found in the registry keys, prompt the user for the path to RRO as a fallback.

[2015-08-25 21:48] j-martens commented on #207
Looks good for Windows.

Still needs to be verified in the OS X installer.

[2015-08-25 22:02] j-martens opened #228 "Investigate the ability to run RRO/MKL from thumb drive"
Test the installation of RRO and MKL on USB thumb drive, and its ability to run on different machines.

Test the following:

1. On Windows Machine A:
     1. Install RRO with registry keys on a thumbnail (E:) drive.
     1. Install MKL on the same drive on the same machine.
1. On Windows Machine B where no registry keys are defined.
     1. Insert thumb drive.
     1. See if you can run RRO and MK

[2015-08-27 00:56] j-martens opened #229 "RRO 3.2.2 Installer names are inconsistent / wrong version number"
Many installers currently have the same name. We could not put them up on our website like this without overwriting them.

Also, names have inconsistent use of lowercase and uppercase.

Finally, the version numbers in the filenames do not match the version numbers for this release.

| Platform | Current Name | Proposed Name |
| ---- | ---- | ---- |
| CentOS / RHEL 5 | RRO-3.2.2-1.x86_64.rpm | RRO_

[2015-08-27 15:39] richcalaway commented on #229
el6 and el7 are fairly standard identifiers for RHEL/CentOS 6 and 7 respectively; we've been using them in many of our download file names for awhile now. The Ubuntu deb files are named correctly according to the Debian naming conventions; this is of course problematic for the reasons you mention. This is perhaps a compelling reason to bundle the rpm/deb files into a tar.gz file for which we can u

[2015-08-27 15:43] revodavid commented on #229
A better solution would be to store the binaries in folders by architecture (sles10/, sles11/ etc) and keep these names as they match the naming conventions.

# David

--
David M Smith <davidsmi@microsoft.com<mailto:davidsmi@microsoft.com>>
R Community Lead, Revolution Analytics (a Microsoft company)
Tel: +1 (312) 9205766 (Chicago IL, USA)
Twitter: @revodavid<http://twitter.com/revodavid> | Blog:

[2015-08-27 15:45] #220 closed

[2015-08-27 15:46] richcalaway commented on #220
This is now a part of RRO #229

[2015-08-28 01:27] richcalaway commented on #225
Clark's back...

[2015-08-31 12:25] #160 closed

[2015-08-31 12:25] #165 closed

[2015-08-31 12:32] j-martens commented on #207
Still not fixed in OS X. Nick, can you fix in the OS X installer?

[2015-08-31 12:37] nriesland commented on #207
Yes, I’ll do it this morning.

From: j-martens [mailto:notifications@github.com]
Sent: Monday, August 31, 2015 8:33 AM
To: RevolutionAnalytics/RRO <RRO@noreply.github.com>
Cc: nriesland <nick@revolutionanalytics.com>
Subject: Re: [RRO] RRO Welcome Screen has http:// instead https:// address (#207)

Still not fixed in OS X. Nick, can you fix in the OS X installer?

—
Reply to this email directly or

[2015-08-31 14:37] revobuil commented on #207
There isn't a build happening of the OS X installer right now because we aren't linking libraries properly. As far as I am concerned, nothing needs done on this until the more serious issues with Mac are fixed.

Sent from Outlook<http://aka.ms/Ox5hz3>

On Mon, Aug 31, 2015 at 5:37 AM -0700, "nriesland" <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, I'll do it this morning

[2015-08-31 16:02] #204 closed

[2015-09-01 15:38] j-martens opened #233 "RRO on Ubuntu: Missing libraries. Error in RStudioGD()"
Two google group users reported the following:

Mariano Rico
Aug 27

I have installed RRO 3.2.1 in an Ubuntu machine in which there was an CRAN R version and RStudio.
I see that /usr/bin/R now points to the RRO (/usr/bin/R --> /usr//lib64/RRO-3.2.1/R-3.2.1/lib/R/bin/R ) and the starting message in Rstudio informs that it is using the RRO version with MKL.

However, when I try to plot something as

[2015-09-01 15:38] j-martens commented on #233
Turns out that the Ubuntu build machine doesn’t have all the development libraries needed. Specifically, cairo tiff and jpeg are missing. Consequently, with capabilities(), those come up as FALSE.  Fix in upcoming 3.2.2 release.

[2015-09-01 16:31] j-martens commented on #203
Going back to Aug 27th.

[2015-09-04 00:45] richcalaway commented on #233
Believe this is fixed now...we no longer have issues with png().

[2015-09-04 00:46] richcalaway commented on #229
The names are all unique now...

[2015-09-04 00:55] richcalaway commented on #226
This is fixed now...

[2015-09-04 00:55] #226 closed

[2015-09-04 01:35] #229 closed

[2015-09-04 02:42] #233 closed

[2015-09-04 02:54] #221 closed

[2015-09-04 02:54] #222 closed

[2015-09-04 02:54] #225 closed

[2015-09-04 02:54] #207 closed

[2015-09-04 12:15] j-martens opened #234 "Make Ubuntu installer relocatable"
Ubuntu is using a rpm->Debian package converter now. Figure out how to build Debian packages natively, and make them relocatable. This is the only non relocatable install we have.

[2015-09-04 17:04] j-martens opened #235 "getlocale on openSUSE not returning a vector"
RRO on openSUSE - `getlocale` is not returning the expected result. It should return a vector, but instead returns just "c", which isn't always accurate. Reported by @richcalaway

[2015-09-05 02:49] noamross opened #237 "Homebrew Formula"
This [page on the wiki](https://github.com/RevolutionAnalytics/RRO/wiki/Mac-Homebrew-Testing-Plan--remove) indicates that, at one point at least, there was a Homebrew formula for testing the development version of RRO.  Is there an plan to create a formula to install the latest release?  It would be great to `brew install rro`.

[2015-09-06 12:50] j-martens opened #238 "RRO 3.2.2 on OSX: png(cairo=TRUE) fails"
Reported on the googlegroup: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/rropen/YnJtLL0y2VI/U3KnC2WJCAAJ

---------------------------------

Dan Kelley: The following works in "normal" R 3.2.2; perhaps RRO didn't follow the [bug reports](https://bugs.r-project.org/bugzilla/show_bug.cgi?id=16435)

[code]

[2015-09-06 12:51] j-martens commented on #238
I tried the same:
[code]

[2015-09-06 12:52] j-martens commented on #238
@nriesland @nathansoz

[2015-09-06 12:57] j-martens opened #239 "RRO 3.2.2 Windows: " in Rprofile.site files causes invalid multibyte character parser error"
When starting RRO, console returns message:
[code]
Source of error comes from 'Rprofile.site' in the {R_HOME}/etc.

It cannot print the character “.

For add'l info, user shared session information.
[code]

[2015-09-06 12:58] j-martens commented on #239
Temporary Workaround: User substituted `` for the " in the `Rprofile.site` file and the error disappeared.

[2015-09-07 00:36] nathansoz commented on #238
To me this looks like more static library linkage problems...

@j-martens, please make this a critical bug for next release.

[2015-09-07 00:39] nathansoz commented on #239
It looks like my copy/paste from outlook picked up a "smart-quote." I'll be fixing on the dev branch.

[2015-09-07 00:42] nathansoz commented on #239
I'm surprised this didn't get picked up from our testing. Any other windows users see this ( @richcalaway or @sfweller ). I wonder if it is specific to some locales or versions of windows...

[2015-09-07 14:22] ChingChuan-Chen commented on #239
I'm 陳慶全. This bug had come out in RRO-3.2.1, but I did not try to fix it and continue to use RRO-3.2.0. Although it does not cause any big trouble, I can't implement script with R function `source` or use windows command to run Rscript. Maybe the test does not go through this?

[2015-09-07 20:40] nathansoz commented on #239
So I have the bad Rprofile.site on my system and I am able to do the following from the windows command line:

c:\Program Files\RRO\R-3.2.2\bin>Rscript -e "5+5"
[1] 10

I'm guessing this is an odd Locale/Unicode corner-case that didn't get picked up in our testing. I'll let @j-martens speak to what we want to do in the short-term, but it will be fixed for sure in the next release of RRO. I want to

[2015-09-08 12:47] rutschifengga opened #240 "RRO 3.2.2 Mac OS X --> pkgutil: RRO package ID set to "com.mygreatcompany.pkg.untitled_package""
minor issue with the package ID used for RRO on Mac OS X

ID is currently set to:
`com.mygreatcompany.pkg.untitled_package`

not sure whether that's supposed to be that way :-)

[2015-09-08 18:06] mrsergei opened #241 "RRO-3.2.2 broke RStudio Server v0.99.483"
It was working fine with 3.2.1 for the exception of missing GraphicsDevice capabilities. I've done purging and complete reinstalls of RStudio server, RRO-3.2.1 and RRO-3.2.2. I was able to successfully reproduce the error below w/ 3.2.2 and recover after purging and reinstalling 3.2.1

[code]

[2015-09-09 06:48] cmosetick commented on #237
Hi Noam,
That wiki page was notes for a proof of concept homebrew formula that lived in a dev branch. There was too much flux with the RRO installer at the time to justify a homebrew install option. I had to switch to other tasks so it never was never formally submitted to the homebrew project. Since then, the RRO install process, especially with the MKL, has changed quite a bit, so it was a good

[2015-09-09 10:39] cmosetick commented on #237
@retrography created a Cask formula for RRO 3.2.1 on August 23rd. I went ahead and bumped the version number and hash in the formula to 3.2.2 and [created a pull request](https://github.com/caskroom/homebrew-cask/pull/13682) to get the current version included in the official homebrew-cask project.

@noamross you can get cask going with:
`brew install caskroom/cask/brew-cask`

The new RRO version

[2015-09-09 11:59] j-martens commented on #237
Thanks Chris.

[2015-09-09 13:52] retrography commented on #237
I am glad you have as well took notice of the importance of having a brew
formula. I can't keep pace with the updates on my own. Having more than one
interested person makes the task easier.

@cmosetick be aware that [the default install behavior of cask will change
from linking to moving](
https://github.com/caskroom/homebrew-cask/issues/13201) soon, so one of the
reasons for relying on a cask wi

[2015-09-09 13:56] retrography commented on #237
I am glad you have as well took notice of the importance of having a brew
formula. I can't keep pace with the updates on my own. Having more than one
interested person makes the task easier.

@cmosetick be aware that [the default install behavior of cask will change
from linking to moving](https://github.com/caskroom/homebrew-cask/issues/13201) soon, so one of the
reasons for relying on a cask wil

[2015-09-10 20:07] sfweller commented on #240
That is a mistake and oversight on our part(it is being set to default entry I think...).
We will fix this and update this information in our next release.

Thanks for catching the problem.

Stephen Weller
RRO Technical Support Engineer

[2015-09-10 20:18] sfweller commented on #238
Hi Dan,

This problem will be addressed and fixed in our next RRO release.

Thanks for reporting the problem.

Stephen Weller
RRO Technical Support Engineer

[2015-09-15 07:07] nathansoz commented on #238
@j-martens
The example code you provided png(cairo=TRUE) does not work on R-3.2.2 from CRAN (I was able to reproduce the error, but I think it is because something is wrong with the statement). I was able to repro Dan's issue and have what I believe to be a fix submitted for testing.

[2015-09-17 16:45] j-martens commented on #238
This issue should be fixed in patch expected in the next few weeks.

[2015-09-18 08:21] MarianoRico commented on #233
Yes, with RRO 3.2.1 y got

      jpeg         png        tiff       tcltk         X11        aqua
     FALSE       FALSE       FALSE        TRUE       FALSE       FALSE
     ...

And now, with RRO 3.2.2 y get

       jpeg         png        tiff       tcltk         X11        aqua
       TRUE        TRUE        TRUE        TRUE       FALSE       FALSE

However, now I get a new problem: Rstudio doe

[2015-09-18 17:18] sfweller commented on #233
Hi Mariano,

This can be normal behavior with Rstudio on Ubuntu.

Please try the following(this worked for me):

1).  From a Linux shell prompt, type:
%export RSTUDIO_WHICH_R=/usr/bin/R

2).  Make sure that a link '/usr/bin/R' exists in your install and points to the following:
      /usr//lib64/RRO-3.2.2/R-3.2.2/lib/R/bin/R

3).  Make sure that port 8787 is open on your system.

4).  Open a web b

[2015-09-18 17:21] sfweller commented on #241
I get the same behavior - this can be normal on Ubuntu systems and some specific Rstudio environment variables need to be set:

Please try the following(this worked for me):

1). From a Linux shell prompt, type:

 %export RSTUDIO_WHICH_R=/usr/bin/R

2). Make sure that a link '/usr/bin/R' exists in your install and points to the following:
 /usr//lib64/RRO-3.2.2/R-3.2.2/lib/R/bin/R

3). Make sure t

[2015-09-20 05:43] mrsergei commented on #241
This is not normal. I have not seen this till 3.2.2 upgrade. As I have shown above it was working as expected with RRO 3.2.1.
You instructions do not make any sense to me. rstudio server is started by a system process with root level privileges. Here is what I get

[code]

As you can see there is not point of me trying to browser connection since no service is listening on 8787. And adding export

[2015-09-20 05:46] mrsergei commented on #241
Btw, if I down grade to 3.2.1 - RStudio server starts just fine and binds to 8787 w/out need to specify RSTUDIO_WHICH_R, except I lose graphics capabilities with 3.2.1

[2015-09-20 21:40] richcalaway commented on #191
From this post (https://ghc.haskell.org/trac/ghc/ticket/8594), it appears we want to trade our call from sysctl hw.ncpu for sysctl hw.physicalcpu. Can somebody with a Mac make that modification to their Rprofile.site file and see if it gives the right answer?

[2015-09-21 02:21] j-martens commented on #191
With it, you get the following message:

Multithreaded BLAS/LAPACK libraries detected. Using hw.physicalcpu: 4 cores for math algorithms.

Instead of:
Multithreaded BLAS/LAPACK libraries detected. Using 8 cores for math algorithms.

— Josée

[2015-09-21 16:00] #203 closed

[2015-09-21 16:01] #189 closed

[2015-09-21 18:26] sfweller commented on #241
Good observation.  We will investigate the issue and see if we can fix this in a future release.

Stephen Weller
Revolution R Open Support

[2015-09-21 18:51] sfweller commented on #241
FYI, port 8787 is the default port that Rstudio uses for web access, that is why I mentioned it in my previous post.

[2015-09-23 17:59] warmdev commented on #241
This might be related to the problem I encountered, in which case the cause is line 4 in `/usr/lib64/RRO-3.2.2/R-3.2.2/lib64/R/bin/R` which determines R_HOME_DIR based on `readlink /proc/$$/fd/255`. However that command seems to be implementation dependent and does not work reliably across different Linux distributions or shell environments. After I changed line 4 to the absolute path `R_HOME_DIR=

[2015-09-23 18:24] mrsergei commented on #241
In my case it was setting to `/usr/lib64/RRO-3.2.2/R-3.2.2/lib/R`, but that did the trick! Thank you so much.

[2015-09-23 19:20] tobigithub opened #244 "#define NCONNECTIONS 512 /* snow needs one per node */"
Hi,
not a bug, but future improvement, increase number of connections to 256 or 512
#define NCONNECTIONS 128 /* snow needs one per slave node */
So snow clusters can grow for the future.

See [snow error SNOW and doSNOW - all connections are in use] (https://github.com/tobigithub/R-parallel/wiki/R-parallel-Errors#snow-and-dosnow---all-connections-are-in-use)

It basically comes out of this, to fig

[2015-09-26 18:33] aaronthor commented on #37
Hi, just wanted to report that:

  Downloading github repo ramnathv/rCharts@master
  Error in system(full, intern = quiet, ignore.stderr = quiet, ...) :
    error in running command
still doesn't work in Ubuntu 14.04 X64..
Although:

works, I leads to issues when uploading to shinyapps.io with the following errors:

  Preparing to deploy application...DONE
  Uploading bundle for application: 61854

[2015-09-28 22:07] sfweller commented on #37
Hi Aaron,

This is a known issue and we should document this in our release.
To workaround the issue, you can do the following in R, BEFORE calling install_github():

options(unzip = 'internal')

Hope this helps.

Stephen Weller
Revolution R Open Technical Support

[2015-09-29 00:25] aaronthor commented on #37
Hello Stephen,

Appreciate your response with the workaround. Unfortunately, I had to drop
out of my Coursera course as I wasn't able to submit my final project..
Will try with the workaround when I get home this evening. Thank you.

Have a marvelous day ahead Stephen!

Cheers,
Aaron

On Tue, Sep 29, 2015 at 6:07 AM, Stephen Weller <notifications@github.com>
wrote:

[2015-09-29 17:26] j-martens commented on #37
Hello!

As you may now know, this is a known `devtools` issue (not an RRO issue). The workaround Stephen mentioned is documented earlier in this thread and is part of the release notes for the last 3 releases of RRO; however, it might not be easy to find the answer.

Have a good day,
Josée

[2015-10-02 16:54] aaronthor commented on #37
Hello Josée and Stephen,

Yeah, I've missed it somehow. Got it working now. Appreciate your guidance fellas!
Have a wonderful weekend ahead!

Cheers,
Aaron

[2015-10-02 19:30] #16 closed

[2015-10-02 20:31] #208 closed

[2015-10-02 20:36] #238 closed

[2015-10-02 20:37] #200 closed

[2015-10-02 20:37] #192 closed

[2015-10-07 11:31] #239 closed

[2015-10-08 16:34] j-martens commented on #244
Perhaps Brian can investigate? @andrie

[2015-10-09 12:50] j-martens commented on #219
Rich mentioned the following in a meeting on 8/27. Keeping notes here for historical purposes.
LCA approval is needed if we want to build and include libcurl (statically linking). We just can't be sure it is on each platform.

[2015-10-10 19:00] tobigithub opened #246 "#define MAX_NUM_DLLS 100 and errror "maximal number of DLLs reached""
Hi,
the good old DLL hell is haunting down R PRO, is it possible to increase that MAX_NUM_DLL limit in [R-src/src/main/Rdynload.c](https://github.com/RevolutionAnalytics/RRO/blob/1a04101cf580207e7f4f364805405d3745d555fd/R-src/src/main/Rdynload.c). I think that comes from an era 10-15 years ago. Probably the cache space (70 bytes) needs to be increased too in CACHE_DLL_SYM.

I am getting constantly

[2015-10-10 20:37] j-martens commented on #246
Thanks for your report. What is your RRO version and what OS are you on?

[2015-10-10 23:44] tobigithub commented on #246
Hi,
PRO 3.2.1 and PRO 3.2.2 and WIN7x64.
Thank you
Tobias

[2015-10-11 22:36] j-martens commented on #246
That looks FUN!!!

[2015-10-21 03:07] j-martens commented on #246
Thank you for your suggestion. We are investigating the idea for a future release.

[2015-10-22 14:57] j-martens commented on #218
From Brian Pickney:
Actually the package maintainer got a new version out last month.  We updated those impacted to check out the latest version.  We tested in house and it appears to have fixed the issues.

[2015-10-22 14:57] #218 closed

[2015-11-01 17:49] ahmeier commented on #241
had the same issue on ubuntu 14.04, setting R_HOME_DIR to /usr/lib64/RRO-3.2.2/R-3.2.2/lib/R worked for me, too. Thanks!

[2015-11-21 08:40] irkonik opened #248 "RRO "broken" after lib32-icu update from 55 to 56"
RRO can't start since I've updated lib32-icu (unicode "stuff") from 55 to 56.
The error message:
[code]
It tries to connect to the old binaries. Downgrading lib32-icu is not possible, it would break my system.

Any idea how to fix it?

[2015-11-21 18:21] j-martens commented on #248
Hello. Thanks for your report. What OS, platform and version are you using? And please share how you went about updating lib32-icu? Thanks.

[2015-11-22 10:53] irkonik commented on #248
ARCH Linux x86, testing branch. Updated it via pacman, from 55 to the next higher version.
It's my mistake by me, don't get me wrong, classic case of PEBKAC. But the question is why it can't utilize the newer binaries.
They can't have changed that much. Re-install didn't fix it sadly.

[2015-11-22 17:51] j-martens commented on #248
We don't provide binaries for arch Linux. Did you compile RRO from source?

[2015-11-22 22:02] irkonik commented on #248
I fiddled around some more and fixed it somewhere along the way of removing everything associated with RRO, removing and installing lib32-icu, installing RRO, revomath and openblas again. I have no clue why it worked this way and not before. Sorry for causing trouble, panicked a little when it didn't want to work and the classic remove & install didn't work.

Cheers, and thank you very much. Such

[2015-11-22 22:02] #248 closed

[2015-11-22 22:12] j-martens commented on #248
Glad to hear it.

[2015-12-10 18:16] KleberUba commented on #238
Hi,

I didn't want to open a new topic for a similar problem. I'm having the same message when using
CentOS 7:

Warning messages:
1: In jpeg(file = fig.name, bg = "white", res = 100, width = 900, height = 900,  :
  unable to load shared object '/usr/lib64/RRO-3.2.2/R-3.2.2/lib64/R/library/grDevices/libs//cairo.so':
  dlopen: cannot load any more object with static TLS
2: In jpeg(file = fig.name, b

[2015-12-14 00:48] j-martens commented on #238
Thank you for your report @KleberUba  We will look into the issue and hopefully have a fix in our upcoming release in January. Thank you.

[2015-12-25 22:32] elmerehbi commented on #31
@cmosetick I am on Ubuntu 14.04.3 and having the same problem:

[code]
I already have g++ installed. And I am having this issue with several other packages some of which I was able to install from CRAN.

[2015-12-28 12:47] nriesland commented on #31
This should fix the problem

options(unzip = 'internal')

From: Ibrahim El Merehbi [mailto:notifications@github.com]
Sent: Friday, December 25, 2015 5:32 PM
To: RevolutionAnalytics/RRO <RRO@noreply.github.com>
Cc: Nicholas Riesland <nicr@microsoft.com>
Subject: Re: [RRO] g++ package needed on Ubuntu installer (#31)

@cmosetick<https://github.com/cmosetick> I am on Ubuntu 14.04.3 and having the sam

[2015-12-28 13:27] elmerehbi commented on #31
@nriesland

I get the following errors:

[code]

I should note that packages are being installed under the hoe directory not under root.

[2015-12-28 17:42] sfweller commented on #31
This appears to be some kind of certificate problem on your machine.
I can get the command 'devtools:::install_github("ropensci/plotly")' to work fine on my Ubuntu 14.04 system with the latest version of Revolution R Open, 3.2.2.

What version of OS(Ubuntu?) are you installing on?

I suggest that you check out the suggestions in this post:
http://apple.stackexchange.com/questions/95538/how-to-fix-

[2015-12-28 18:03] elmerehbi commented on #31
As I mentioned earlier I am on Ubuntu 14.04.3.

I checked the directed the certificates are supposed to be in and there's no `certs` directory under `/etc/pki/tls/` . I have `nssdb` only.

[2016-01-12 14:53] jangorecki opened #265 "installation process failed on Ubuntu 14 - a bug in RevoMath.sh?"
Following the current installation docs on https://mran.revolutionanalytics.com/documents/rro/installation/
When installing RRO + RevoMath on Ubuntu 14.04 having base R version 3.2.2 (2015-08-14) I've hitting the following blocker after successfully installing RRO and trying to install RevoMath running `./RevoMath.sh`.
[code]
Already tried to setup `R_HOME` both to RRO directory and to default R d

[2016-01-12 20:25] j-martens commented on #265
Could you please try this?

ls -l /bin/sh

If this returns something OTHER than a symbolic link /bin/bash, do this:

sudo rm /bin/sh
sudo ln -s /bin/bash /bin/sh

[2016-01-12 21:37] jangorecki commented on #265
I tried.
[code]
Error didn't go away.

----

Fully reproducible script below.

- Fast run Ubuntu14 + r-base-dev 3.2.2:
[code]

- installation nside your Ubuntu:
[code]

[2016-01-15 14:32] fred777 commented on #265
I suspect you have left-over files from a previous install.

Try to delete /usr/lib64/RRO-3.2.2/R-3.2.2/lib/R/library/RevoUtilsMath/

[2016-01-19 02:07] jangorecki commented on #265
I've tried on plain Ubuntu docker image without regular R, same error.

[2016-01-20 20:20] rebelwarrior opened #271 "MRO-3.2.3 mac does not create a shell R executable"
`which R` produces nothing on a clean install of MRO. (El Capitan)

I think this only happens on a clean install. I did an upgrade on another computer and it either preserved (or did install) the command line executable at `/usr/bin/R` However a clean install created no command line options.

[2016-01-20 23:18] sfweller commented on #271
This is a known issue. The new version of MRO currently does not create a '/usr/bin/R' link on the Mac. You will need to create it manually using the 'ln' command:

For example:
ln -s /Library/Frameworks/R.framework/Resources/bin/R /usr/local/bin/R

If you create this link, then the command 'system("which R")' will work in MRO.
I am not sure why we no longer create the link in '/usr/bin', but we w

[2016-01-21 00:03] rebelwarrior commented on #271
Thanks.

[2016-01-21 12:46] user010101 opened #272 "Problem with functions using lapack when there are large objects in memory"
Hello,
FYI, I submitted a [bug on r-project.org](https://bugs.r-project.org/bugzilla/show_bug.cgi?id=16674) yesterday. Initially, it has been observed on the 'standard' R-3.2.3 version.
But since Microsoft R Open 3.2.3 gives the same problem and as it concerns Windows platform only (at least in works fine on RHEL), I bring it your attention.
Regards,

[2016-01-21 20:39] guanhuac commented on #152
Encounter same problem of MRO, first install MRO, and then MKL, MKL does not work. Then I uninstalled the preexisting R 3.1.3, uninstall MRO, uninstall MKL, restart the computer; then reinstall MRO, MKL; MKL still can not be loaded!!

[2016-01-21 20:56] sfweller commented on #152
Hi guanhuac,

Can you please try the following to work around the problem:

1) . Please remove the file you copied and uninstall MKL. This way we'll start with a clean slate.

2).   Reset the library path for the current session, type:
      .libPaths("C:/Program Files/Microsoft/MRO/R-3.2.3/library")

(Tip: To make this change permanently you'd have to put this in your C:/Program Files/Microsoft/M

[2016-01-21 21:28] guanhuac commented on #152
No, it make thing worse. When I add to the Rpfofile.site and then install MKL again. The R/MRO fail to open with error message "The program can't start because MSVCR120.dll is missing from your computer. Try reinstalling the program to fix this problem".

[2016-01-21 22:46] sfweller commented on #152
What version of Windows are you running on?  The 'MSVCR120.dll' error can probably be fixed by installing an updated Visual C++ Redistributable library, but it would be good to get that information first.

Stephen Weller
Microsoft R Open Technical Support

[2016-01-22 00:05] guanhuac commented on #152
I am using Windows 10.

[2016-01-22 14:02] j-martens commented on #265
MRO 3.2.3 was just released. Can you try a clean install of MRO 3.2.3 with the 3.2.3 MKLs?

[2016-01-22 14:49] jangorecki commented on #265
Didn't help, fully reproducible script on latest image of Ubuntu 14.04 and latest MRO.
[code]
btw. aren't there any plans to provide an official MRO docker image?

[2016-01-22 18:21] sfweller commented on #265
I now got the latest MRO(3.2.3) to work with the latest Docker Ubuntu image for 14.04. One problem is that this docker image does not contain all of the tools necessary to install the RevoUtilsMath package, that is needed for MKL to work with MRO.

Please check the file 'mkl_log.txt' in the RevoMath folder that gets created after untarring the RevoMath-3.2.3.tar.gz file. That contains useful infor

[2016-01-22 18:46] jangorecki commented on #265
@sfweller Thanks, great you've found solution.
I would suggest to check those dependencies in shell script.
Also mentioned official docker image would be very useful as it is the fastest way to just try a product.

Is the repository of `revolutionanalytics.com/documents` available somewhere? I would like to track changes on the installation docs webpage.

[2016-01-23 00:06] ziyadsaeed commented on #152
where in Rprofile.site should i change the library path?

[2016-01-23 00:42] ziyadsaeed commented on #152
inside my Rprofile.site file I added this
.libPaths(c("C:/Users/---/Documents/R/win-library/3.2", "C:/Program Files/Microsoft/MRO/R-3.2.3/library"))

replace --- with user name

[2016-01-25 15:37] mekkim opened #273 "MRO 3.2.3 Windows RGui crash when typing characters beyond width of resized window"
MRO 3.2.3 64-bit Windows clean install (after uninstalling all previous versions of RRO/R) crashes when typing characters beyond the GUI's current width if the RGui window is made vertically longer.  The error is as follows:

Unhandled exception at 0x000007FEFEB87D0F (msvcrt.dll) in Rgui.exe: 0xC0000005: Access violation reading location 0x0000000000000000.

My quick search links msvcrt.dll to Vis

[2016-01-25 16:06] sfweller commented on #152
Yes, I think that may be the solution. guanhuac, can you please try this suggestion and confirm whether MKL still works in this case:

inside my Rprofile.site file I added this
 .libPaths(c("C:/Users/---/Documents/R/win-library/3.2", "C:/Program Files/Microsoft/MRO/R-3.2.3/library"))

replace --- with user name

Stephen Weller

[2016-01-27 01:08] j-martens commented on #273
Thanks for your report. You can track progress here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/rropen/iuW1XRarPPs/SQMzLkF0CwAJ

[2016-01-27 01:08] #273 closed

[2016-01-29 15:52] StevenDuttRoss commented on #152
I have the same problem. Even with this path .libPaths(c("C:/Users/---/Documents/R/win-library/3.2", "C:/Program Files/Microsoft/MRO/R-3.2.3/library")) , my microsoft R is not working and the RStudio stop working.

[2016-01-29 16:31] lixzhang commented on #152
I had the same problem. Solved it by uninstalling MRO and RevoMath from control panel, then deleting the MRO folder on C drive (C:\Program Files\Microsoft\MRO), and finally installing MRO followed by RevoMath.

[2016-01-30 19:39] StevenDuttRoss commented on #152
After launching Rgui.exe there was an error message telling '... msvcr120.dll is missing'.  I already try uninstall RevoMath. We I uninstall, the MRO and the RStudio can work. But when I install the  RevoMath the MRO and the RStudio stop working.
Appreciate any comments!
Thanks!

[2016-01-30 19:54] mekkim commented on #152
Since the crash issue I reported also
      involves the Microsoft Visual C Runtime (although the error I got
      was the generic system-access-only msvcrt.dll, not msvcr120.dll
      which is probably from Visual Studio 12), these two issues might
      be related.

      Thought I would mention it in case it helps with troubleshooting. 
      The issue might be in the toolchain used for compil

[2016-02-05 23:25] MiguelGodinhoMatos commented on #238
I am having a similar problem with the latest version of R Studio and MRO-3.2.3

In the console (bash) everything works fine:

[code]

However when using R Studio Server it does not work. This seems to be a problem of MRO only. Since if I revert to R-3.2.3 standard everything works fine. Any clue ?

[code]

[2016-02-06 01:09] sfweller commented on #238
The proiblem you are describing with launching a graphics device from RStudio is a different problem.
The problem here is that the cairo graphics device that is used by Rstudio depends on the X11 graphics libraries being present on the system. The plot() function won't work on a headless server.
You can use the png() or jpeg() graphics devices to create graphics files that contain plots in them, b

[2016-02-06 09:54] MiguelGodinhoMatos commented on #238
Stephen, that would make perfect sense if it was not the case that everything works change the R from MRO to R-3.2.3 from CRAN.  That can not be the explanation. Any other ideas ?

[code]

![image](https://cloud.githubusercontent.com/assets/695753/12866038/7cbd7ae4-ccb7-11e5-8afa-eda0102ff9ed.png)

[2016-02-08 08:15] krz commented on #152
I get the exact same install error in Ubuntu 15.
Might be because I wasn't aware of a running CRAN R process during installation.
I did remove mro (apt-get remove mro) and tried to uninstall MKL through the script which never worked.
I uninstalled CRAN R, installed MRO again, but installing MKL again produces this error.

[2016-02-08 16:32] sfweller commented on #152
Hello krz,

You don't mention what the error is you are getting - can you be a bit more specific?

Thanks.

Stephen Weller
Microsoft R Open Technical Support

[2016-02-08 16:52] sfweller commented on #238
That is interesting. I am not sure why X11 is set to 'FALSE' for you - it should be set to 'TRUE' in MRO as well....

Can you tell me exactly which version of Redhat 7.1 you have installed?  We have tested on it and do not see this problem. I do know that Redhat has different versions of the OS and their are different ways to install it.

Any additional information you can provide will be helpful.

[2016-02-08 16:59] sfweller commented on #152
We will have a MRO patch available that should fix the msvcrt120.dll problem. I will let everyone know once it is available for download.

Stephen Weller
Microsoft R Open Technical Support

[2016-02-08 19:30] krz commented on #152
I was getting the same error as in the original post. However, I was able to fix it now by uninstalling all CRAN packages (apt-get remove r-cran*) and deleting the MRO directory in /usr/lib64

[2016-02-08 23:23] MiguelGodinhoMatos commented on #238
I am running: Red Hat Enterprise Linux Server release 7.1 (Maipo)

I have all relevant xorg libraries installed and even if I don't have a full installation of gnome I can run xterm and gparted, gimp or any other tool that requires a gui ...

I would also like to note that this happened to me when I "upgraded" to MRO-3.2.3 from RRO-3.2.0. In fact with RRO-3.2. things work fine.

To me this seems a

[2016-02-13 13:07] methodds opened #277 "base64enc not available"
Hi,

at the moment I'm trying to setup RRO with the  [IR-Kernel](https://github.com/IRkernel/IRkernel) for jupyter notebook. During the installation procedure (see [here](http://irkernel.github.io/installation/)) I encounter a problem:

[code]
Trying to install the package manually throws the error:
 ``package ‘base64enc’ is not available (for R version 3.2.3) ``.

Do you have any idea what is goi

[2016-02-16 17:08] sfweller commented on #277
I am not sure what is going on, the 'base6enc' package is available for MRO 3.2.3 and is downloadable from the mran website.

My suggestion would be that you manually download the package source tarball from the mran website,
which is:

https://mran.revolutionanallytics.com/snapshot/2016-01-01/src/contrib/base64enc_0.1-3.tar.gz

After downloading the tarball you can install it with:

R CMD INSTALL

[2016-02-16 17:39] j-martens commented on #277
There is a small typo above. Try: https://mran.revolutionanalytics.com/snapshot/2016-01-01/src/contrib/base64enc_0.1-3.tar.gz

[2016-02-18 04:01] j-martens commented on #271
Hello,

We have re-released Microsoft R Open 3.2.3 for OS X with a fix for this. You can download it from here: https://mran.microsoft.com/download/

Thanks,
Josée

[2016-02-18 04:01] #271 closed

[2016-02-18 21:03] j-martens commented on #273
Hello,

We have re-released Microsoft R Open 3.2.3 for Windows with a fix for this. You can download it from here: https://mran.microsoft.com/download/

Thanks,
Josée

[2016-02-23 16:20] #277 closed

[2016-02-23 21:16] skanskan commented on #152
The only solution I found it works is:
Move your ...  \R-3.2.3\library  to a save place
uninstall Revomath
uninstall R
install a new R
install Revomath
move your original library folder inside, but don't overwrite anything.

That way you won't need to reinstall all the packages.

[2016-02-28 10:22] nuest commented on #265
@jangorecki  I've created a Docker image, maybe it can be of help for you: https://github.com/nuest/docker-mro

My issue is that building the image worked on my machine, but not on Docker Hub, wich a similar message as yours: https://hub.docker.com/r/nuest/docker-mro/builds/bhqbu7n7pcwh573ftwyuyrb/

But hopefully you can build the image locally and it is of use.

[2016-02-28 11:15] jangorecki commented on #265
@nuest this will definitely be helpful, as it gives working example! Thanks for sharing.
I think the issue can be closed already.

[2016-02-28 11:15] #265 closed

[2016-02-28 12:11] nuest commented on #265
Yes - issue can be closed. Just a quick update though: Image was successfully pushed to Docker Hub: https://hub.docker.com/r/nuest/docker-mro/

[2016-02-29 19:34] mekkim commented on #273
I have downloaded the re-released version of MRO 3.2.3 for Windows.  The RGui crash has been resolved in Windows 8.1, but is still occurring in Windows 7.  The behaviour of the RGui window is the same as before (when  resizing, the line seems to jump to a lower line, breaking in the middle) and crashes in the same way.  I've tried numerous compatibility settings and cannot get it to work.  Please

[2016-02-29 20:13] mekkim commented on #273
UPDATE: After much testing, I have located the specific source of the issue.  The culprit is the line for `rows = XX` in the `Rconsole` parameters file under `Dimensions (in characters of the console.`  The RGui will crash when resized if the value `XX` is less than the number of lines that are displayed on RGui startup, i.e., R version number, Copyright, Platform, Free software disclaimer, etc. e

[2016-02-29 20:15] nathansoz commented on #273
We have provided a fix to Cran for the underlying issue and expect it will be incorporated in the next release of R.

[2016-02-29 20:16] mekkim commented on #273
@nathansoz - Ah, excellent.  Thanks for that!  At least I can get working now by changing my RConsole file. :)

[2016-02-29 20:20] nathansoz commented on #273
I believe we adjusted the default console file to have 35 lines as a workaround in the rerelease. I'm surprised that the console file you got from the rereleased installer didn't have that fix...

@j-martens can you test on Windows 7 and see if you can reproduce the issue still?

[2016-02-29 20:25] mekkim commented on #273
@nathansoz  You did adjust it to 35.  The thing is that Base R (and MRO) look in two default locations for an RConsole:  `c:/Program Files/Microsoft/MRO/R-3.2.3/etc/` folder or the equivalent install location and `c:/users/<username>/documents/` - The latter overrides the former if it's present.  I keep my RConsole file in the latter so that both MRO and Base R can use it, so its `row` value remai

[2016-02-29 21:27] mekkim commented on #273
I see your fix here: https://bugs.r-project.org/bugzilla/show_bug.cgi?id=16698 - Awesome!  That should do it!  Thanks!

[2016-03-18 19:26] tleitch commented on #238
Same issue

[2016-03-18 21:53] sfweller commented on #238
In order to have all the X11 libraries that are needed you also need to install what is called 'Legacy X11 libraries' on the CentOS CD. If all of that is installed on the system, X11 will be set to 'TRUE' after installing MRO 3.2.3..

I am not sure what the option is called on the Redhat Server CD, as I don't have that available, but it should be similar, since the Redhat distribution is based on

[2016-04-07 07:08] krz opened #297 "Install from source on linux fails"
Hi,
I tried to install MRO on a linux cluster in my home directory where I do not have root access:
this is the error message I get when I execute build.sh.

I have no problems building open source R from source on this machine.

GC Warning: Limiting number of mark threads
WARNING: The runtime version supported by this application is unavailable.
Using default runtime: v1.1.4322

** (nuget.exe:137

[2016-04-07 08:49] FidelCastillo opened #298 "Result using rxCov are not the same than the usual cov function in r"
I don't know why those two functions are not the same, but the results are different.

Thank you in advice.

[2016-04-07 16:38] sfweller commented on #297
Can you please tell us what version of Linux you are installing on(Redhat, Ubuntu or SLES) and the version number of OS?

Thanks.

Stephen Weller
Microsoft R Open Support Engineer

[2016-04-07 16:41] krz commented on #297
this is on SLES 11

[2016-04-24 22:08] tleitch commented on #238
I have the following installed:
libXt-devel-1.1.4-6.1.el7.x86_64 : X.Org X11 libXt development package
Repo        : @anaconda

I'm using X11 w/o issue via an ssh -Y command from my Mac to my centos box. CRAN R runs w/o issue.

[2016-04-26 12:50] yipcma commented on #241
@warmdev the editing of line 4 works for me as well. ubuntu 14.04

[2016-04-27 15:15] ToledoEM opened #306 "Install MKL Error - Linux ubuntu 15.04"
I uninstalled MRO and MKL on Ubuntu 15.04. The instalation of MRO3.2.4 goes ok, but on the installation of the MKL there is an error when I run RevoMath.sh

`Error : .onLoad failed in loadNamespace() for 'RevoUtilsMath', details:
  call: fun(libname, pkgname)
  error: To use RevoUtilsMath you must first install the MKL Math Library.
 Visit http://mran.revolutionanalytics.com/download.
 If you have

[2016-04-27 15:29] sfweller commented on #306
It looks like the installer detected a old version of Revolution R Open on your system, so it was not able to install the MKL component. You should be able to get past this issue by uninstalling the old version of RRO and then installing the MKL component for MRO 3.2.4.

So run:

dpkg --purge rro
rm -rf /usr/lib64/RRO-3.2.2

Then, attempt to run the MKL installer for MRO 3.2.4 again.

Stephen Well

[2016-04-28 12:31] ToledoEM commented on #306
Thank Stephen, that was the first thing that I tried.

[2016-04-29 16:49] #306 closed

[2016-05-13 16:10] user010101 commented on #272
Just in case... I'm still interested in this issue. Below is the full description of the bug.

In windows R3.2.3, if there are a lot / large objects in memory, eigen or chol for example return NULL. However, if a first call is made before creating the objects, it will work.
This problem has been observed on Windows Server 2012, 256Gb RAM. It doesn't happen on the same server using R2.15.3, and it

[2016-05-20 10:52] kmattyy commented on #241
Thanks @warmdev. It worked for me too.

[2016-05-22 17:56] yipcma commented on #241
I cannot believe this. It's still not fixed on MRO-3.2.5. ubuntu 14.04
fix:
`sudo nano /usr/lib64/MRO-3.2.5/R-3.2.5/lib/R/bin/R`
change the 4th line to
`R_HOME_DIR='/usr/lib64/MRO-3.2.5/R-3.2.5/lib/R'`

[2016-06-29 14:24] marqisoft opened #307 "Symbol last.warning locked needlessly? (causes problems with Tinn-R)"
Like many other users of R or MRO, I use an enhanced IDE for programming in R language. My choice is Tinn-R (https://sourceforge.net/projects/tinn-r/). But there is a subtle difference in the properties of the "last.warning" symbol betwenn R and MRO, which prevents useful Tinn-R features from working.

Precisely, when I use the keyboard shortcuts in Tinn-R for displaying the list of the relevant p

[2016-07-19 19:13] QuantDevHacks commented on #190
Just noting that this was also an issue on a CentOS 6 VM that I set up on Azure.  Just did
yum install gcc-c++
and it solved the problem.  (H/T to Steve W)

[2016-08-04 23:55] yipcma commented on #241
seriously, it's MRO-3.3.0 and same issue...
on ubuntu 14.04
`sudo nano /usr/lib64/MRO-3.3.0/R-3.3.0/lib/R/bin/R`
change the 4th line to
`R_HOME_DIR='/usr/lib64/MRO-3.3.0/R-3.3.0/lib/R'`

I'll keep posting until they fix it.

[2016-08-17 08:44] irkonik opened #310 "System.Exception: Linux flavor not implemented yet"
While building from source, building fails as "Stopped due to error".
System: Arch x86_64 Linux 4.7.0-1-ARCH

[code]

[2016-08-17 15:31] sfweller commented on #310
What flavor of Linux(OS) are you running?  Is it SuSE, Ubuntu, Redhat, or some other distribution?
It would be good if you could also give us the exact OS version as well - this will help us determine what the problem is you are having with the install.

Stephen Weller
Microsoft R Open Product Team

[2016-08-17 15:42] irkonik commented on #310
Hey Stepen,
as posted above in the second line, I'm running Arch Linux x86_64 on a Intel Skylake Core i7 with Linux Kernel version 4.7. This is pretty much as exact as it gets with Arch, since it's a rolling release.
It also breaks on my other systems, same error, exact same system, just with a Intel Haswell Core i5.
Also, not able to compile it in a Arch VM on a Sandybridge-E based Server.

EDIT:

[2016-08-24 12:27] irkonik commented on #310
Is there anything I can do to further help you investigate the issue?

[2016-08-28 20:54] pcava opened #311 "no more portability?"
The installer for the actual release MRO 3.3.1 doesn't allow to install on a portable usb pen/external drive anymore...I got the message "Installation directory must be on a local hard drive".

Why such change compared to previous versions and current R 3.3.1?

[2016-08-28 21:30] revobuil commented on #311
The MRO 3.3.1 installer for Windows is built on WiXhttp://wixtoolset.org/ which disables installation to non-local drives by default. If you wish to override this behavior, you can launch the MRO setup MSI using the following command-line arguments:

[code]

Please keep in mind this is not a supported scenario which may result in unexpected behavior.

From: pcavatore notifications@github.com
Reply

[2016-08-28 22:58] pcava commented on #311
Thanks it's working

[2016-08-28 22:58] #311 closed, assigned to nobody

[2016-09-02 10:11] taoluo opened #312 "warning message after start R console."
MRO  3.3.1.
mac OS X : 10.11.6

[code]

I already create a symbolic link to /usr/X11 with `sudo ln -s /usr/X11 /opt/X11`

[2016-09-02 10:57] taoluo commented on #312
It seems MRO installer assumes XQuartz  is installed in `/opt/X11`. After download and install XQuartz from its website (https://www.xquartz.org), this warning message disappeared.

[2016-09-02 10:58] #312 closed, assigned to nobody

[2016-09-02 14:22] sfweller commented on #312
Yes, this is a known issue and has been documented in the Microsoft R Open 3.3.1 release notes.

Stephen Weller
Microsoft R Product Team

[2016-09-21 14:55] jecogeo opened #313 "Installation Error: microsoft-r-open-mkl-3.3 needs to be reinstalled, but I can't find an archive for it."
I downloaded and installed MRO as [documented](https://mran.microsoft.com/documents/rro/installation/), using ./install.sh.
However a persistent error occurrs in mkl installation. I also tried to install the mkl itself by gdebi, but with no success.

I'll provide my terminal outputs and logs below:

**Terminal**

$ sudo ./install.sh
[sudo] password for jeco:

Press [Enter] key to display the Micro

[2016-09-21 15:04] jecogeo commented on #313
For information: I'm doing it on Ubuntu 16.04.

[2016-09-22 02:24] nathansoz commented on #313
Hi @jecogeo! We actually migrated this repository over to https://github.com/Microsoft/microsoft-r-open with this release. Would you mind opening this issue over there so that we can track it in MRO's new home?

[2016-09-22 13:13] jecogeo commented on #313
Hi @nathansoz. Thanks for your reply. This issue was resolved right now in [MSDN](https://social.msdn.microsoft.com/Forums/en-US/a221ac44-22b7-462f-9a6a-2a40d4c80a16/error-microsoftropenmkl33-needs-to-be-reinstalled-but-i-can39t-find-an-archive-for-it?forum=ropen#c83b3d9c-537f-4282-a3fb-bc3d4cd407d6). But I'll remember MRO's new home in the future. Best regards.

[2016-09-26 20:00] nzbart opened #314 "Chocolatey / OneGet installation"
Windows now has some nice command-line installation tools available, including Chocolatey (and hopefully OneGet soon). It would be nice to be able to install Microsoft R in our automated install scripts rather than CRAN R.

For reference, the Chocolatey package for CRAN R is here:
    [The R Project for Statistical Computing](https://chocolatey.org/packages/R.Project)

[2016-09-29 16:41] nathansoz commented on #310
The code you care about is here: https://github.com/RevolutionAnalytics/RRO/blob/master/RRO-src/buildFiles/RevoUtils/Platform.cs

You could modify it in such a way that it reads arch as a supported OS.

[2016-09-29 16:41] #310 closed, assigned to nobody

[2016-09-29 16:58] nathansoz commented on #241
This was fixed in MRO 3.3.1. We've also moved repositories to this new location: https://github.com/Microsoft/microsoft-r-open

[2016-09-29 16:58] #241 closed

[2016-09-29 16:58] #313 closed, assigned to nobody

[2016-09-29 16:59] nathansoz commented on #314
Migrated to issue: https://github.com/Microsoft/microsoft-r-open/issues/5

[2016-09-29 16:59] #314 closed, assigned to nobody

[2016-09-29 17:00] nathansoz commented on #297
Hi @krz. We've moved repositories to here: https://github.com/Microsoft/microsoft-r-open

You can actually just build the R source code using configure/make/make install after patching with the included .patch files in the repository.

[2016-09-29 17:00] #297 closed

[2016-10-10 02:41] dschneiderch commented on #237
If I install R with `brew cask install rro` will other brewed formula recognize r as installed even though the formula is called rro?

EDIT: I just realized there is no rro cask (anymore?)

[2016-12-23 18:29] lfdmotta commented on #88
This issue is still present in Microsoft R Open 3.3.2 released on Nov 2016.

As a workaround, I downloaded the CRAN R installation package for macOS and copied the missing dylib files to /Library/Frameworks/R.framework/ ...

[2017-04-11 23:48] probprob14 opened #315 "R Studio package installation failure with Windows 7"
![image](https://cloud.githubusercontent.com/assets/27316755/24935389/68e65f58-1ee7-11e7-816d-86fb5d70adad.png)
I tried to import data set, and my RStudio said I should install readr and RCPP. So I allowed them to be installed, but the following message popped up. I wonder what I should do with this. I'm a Windows 7 user.

[2017-04-12 00:49] sfweller commented on #315
This could be a problem in R due to your current locale settings in R.

Can you type:

Sys.getlocale()

and paste your current settings into this discussion thread?

Also, your output above does not indicate what exact R commands you ran to try and install these packages. Can you paste the exact commands you ran in your reply?  It looks like you are trying to install a Windows binary zip file for

[2017-04-12 00:55] probprob14 commented on #315
Hi! I got ["LC_COLLATE=English_Belize.1252;LC_CTYPE=English_Belize.1252;LC_MONETARY=English_Belize.1252;LC_NUMERIC=C;LC_TIME=English_Belize.1252"] when I typed in Sys.getlocale() as you requested.

I clicked the button 'Import Dataset' - 'From CSV' option, then the following message popped up:
![image](https://cloud.githubusercontent.com/assets/27316755/24936658/aee55fd2-1ef0-11e7-88fc-dbe806430e0

[2017-04-12 01:15] sfweller commented on #315
Thanks for including the screenshot, This definitely looks like a locale settings problem.

I suggest that you try running these lines in your Rscript, before running your code:
Sys.setlocale("LC_MESSAGES", 'en_GB.UTF-8')
Sys.setenv(LANG = "en_US.UTF-8")

For a discussion of similar problems, you may also want to take a look at this stackoverflow thread.
I don't think that this is an issue specifi

[2017-07-26 17:54] tshtatland commented on #37
Thank you for documenting the workaround. I am adding:

**Known Issues**

- `devtools::install_bitbucket()` may fail with the error "error in running command" on Ubuntu. To work around this issue, set `options(unzip = 'internal')` before calling `install_bitbucket`.

Example:
[code]

[2017-09-30 07:21] bchen102 commented on #88
The issue is still present in Microsoft R Open 3.3.4.

[2017-10-24 18:04] RafalLukawiecki commented on #88
This issue is still present in Microsoft R Open 3.4.1, just tested. Trying to install package nleqslv:

[code]

[2017-10-28 14:57] seonghobae commented on #37
another solution in ubuntu 16.04: run apt install unzip

[2018-04-03 13:35] hendrohwibowo commented on #144
in my case, just delete **00LOCK-car** folder in ~/Documents/R/win-library/, with **car** is the package it is trying to installed (it is when i am updating using Tools-Check for Package Updates...).

[2018-11-20 21:19] amandeepjutla commented on #88
Ran into this issue trying to load the imputeTS package with MRO 3.5.1:

[code]

Had to manually extract `libRblas.dylib` from a vanilla R package and place it into /Library/Frameworks/R.framework/Versions/3.5/Resources/lib.

[2020-05-18 15:57] #175 closed

[2020-05-23 17:18] sabyasachi1992 commented on #144
install.packages("sp")
WARNING: Rtools is required to build R packages but is not currently installed. Please download and install the appropriate version of Rtools before proceeding:

https://cran.rstudio.com/bin/windows/Rtools/
Installing package into ‘C:/Users/sabyasachi/Documents/R/win-library/4.0’
(as ‘lib’ is unspecified)
Warning in install.packages :
  'lib = "C:/Users/sabyasachi/Documents/